{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    my_title
{% endblock %}

{% block content %}
    my_content

    {% next_button %}

{% endblock %}

{% block global_styles %}
    my_global_styles
{% endblock %}

{% block app_styles %}
    my_app_styles
{% endblock %}

{% block styles %}
    my_styles
{% endblock %}

{% block global_scripts %}
    my_global_scripts
{% endblock %}

{% block app_scripts %}
    my_app_scripts
{% endblock %}

{% block scripts %}
    my_scripts
{% endblock %}
