@media (min-width: 1024px) {
  /*******************************
  *  Hide otree default message  *
  ********************************/

  .otree-timer {
    display: none
  }

  .otree-title {
    display: none
  }


  /******************************
  *   Play.html info styling    *
  *******************************/

  .daytrader-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    width: 90%;
    background-color: white;
    padding: 40px 7.5%;

    .daytrader-sack-button-container {
      margin: 0 10px;
      height: 290px;

      .daytrader-sack-buttons {
        margin: 100px 0 0 4px;
      }

      .company-face-in-sack {
        width: 60px;
        height: 60px;

        &:hover {
          cursor: pointer;
        }
      }

      .company-face {
        width: 35px;
        height: 35px;
      }

      .result-table-face-1 {
        margin: 77px 0 0 14px;
      }

      .result-table-face-2 {
        margin: 3px 0 0 0;
      }

      .result-table-face-3 {
        margin: 77px 14px 0 0;
      }
    }

    .sack-btn {
      margin: 0;
      padding: 0;
      width: 60px;
      height: 60px;


    }

    .content-container {
      width: 70%;
    }

    .future-modal-content, .short-modal-content, .long-modal-content, .info-cascade-modal-content, lemming-modal {
      width: 50%;
    }

    .daytrader-intro-info-container {
      margin: 10px 0;
    }

    /**********************
    *    intro1.html      *
    ***********************/

    .daytrader-intro-title {
      font-size: 120px;
      margin: 0;
    }

    .daytrader-intro-frontpage-img {
      width: 450px;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;

      .daytrader-start-game-btn {
        font-size: 55px;
        margin: 250px 0 0 11px;
        width: 280px;
      }
    }


    /*******************
    *   intro2.html    *
    ********************/
    .daytrader-sack {
      height: 300px;
      padding-bottom: 20px;
    }

    .daytrader-intro-container-first {
      display: flex;
      justify-content: center;
      flex-direction: row;

      .daytrader-intro-first {
        align-self: center;
        width: 40%;
        text-align: center;
      }
    }


    /*******************
    *   intro3.html    *
    ********************/
    .daytrader-intro-container-second {
      display: flex;
      margin: 0;
      flex-direction: row;
      align-items: center;

      .daytrader-intro-container-second-info {
        flex-grow: 2;
      }

      .daytrader-intro-container-second-button {
        flex-grow: 1;
        margin: 0 0 0 100px;
      }
    }

    /*******************
    *   intro4.html    *
    ********************/

    .go-long-content {
      margin: 50px 0;
      width: 100%;
      display: none;
    }

    #continue {
      display: none;
    }


    /****************************
      *  All day trader pages   *
    *****************************/
    .daytrader-round-title {
      font-size: 50px;
      width: 100%;
    }


    .daytrader-round-info {
      font-size: 25px;
      width: 100%;
      padding-top: 10px;
    }

    .daytrader-next-btn-container {
      display: flex;
      justify-content: center;


    }

    // Styling af det viste ansigt i teksten
    .company-face {
      width: 50px;
      height: 50px;
    }


    // Daytrader Table
    .daytrader-table {
      margin: 10px 0;
      border-collapse: separate;
      border-spacing: 0 0.5em;
      width: 100%;
      display: inline-table;

      .border-corner-left {
        border-radius: 10px 0 0 10px;
      }

      .border-corner-right {
        border-radius: 0 10px 10px 0;
      }

      .daytrader-table-header {
        background: $ku-dark-blue;
        color: white;
        font-weight: bold;
        font-family: "Patrick Hand", sans-serif;
        font-size: 26px;
        border-top: none !important;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
      }

      .daytrader-table-data {
        font-size: 26px;
        font-family: "Patrick Hand", sans-serif;
        border-top: none !important;
        text-align: center;
      }

      .daytrader-table-row {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }

    // Container til daytrader formen
    .daytrader-form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .daytrader-form-info {
        font-size: 25px;
        font-family: "Patrick Hand", sans-serif;
      }
    }

    // Container til input af antal aktier og næste knap
    .daytrader-submit-value {

      #myInput {
        font-size: 24px;
      }

     .form-control {
        width: 70%;
        border: solid 3px $ku-dark-blue;
      }

      #id_choice_of_number_of_shares {
        max-width: 344px !important;
        height: 50px;
        left: 550px;
        top: 1637px;
        font-size: 23px;
        color: black;
        border: 5px solid #41739D;
        box-sizing: border-box;
        border-radius: 30px;
      }

      .otree-btn-next {
        font-size: 30px;
        background: $ku-dark-blue;
        font-family: "Patrick Hand", sans-serif;
        width: 344px;
        height: 55px;

        border: 5px solid $ku-dark-blue;
        box-sizing: border-box;
        border-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .field-choice_of_number_of_shares {
      width: 40%;
    }


    .reveal-face {
      width: 40px;
      height: 40px;
    }


    .field-choice_of_trade {
      margin: 0;
      display: flex;
      justify-content: center;

      .form-check {
        display: flex;
        flex-direction: row;
        margin-right: 0;

        .form-check-label {
          font-family: "Patrick Hand", sans-serif;
          font-size: 24px;
          text-transform: capitalize;
          margin-left: 50px;
        }

        input.form-check-input[type="radio"] {
          -webkit-appearance: none;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          outline: none;
          border: 3px solid $ku-dark-blue;
          position: absolute;

          &:before {
            content: '';
            display: block;
            width: 60%;
            height: 60%;
          }

          &:checked:before {
            background: $ku-dark-blue;
          }

          &:checked {
            border-color: $ku-dark-blue;
          }
        }
      }
    }

    .daytrader-admin-company-list {
      font-size: 22px;
      display: flex;
      align-items: center;
    }

    #tableResults {

      .daytrader-table-header {
        font-size: 22px;
      }

      .daytrader-table-data {
        font-size: 20px;
      }

      .results-sack-button-container {
        margin: 0 10px;
        width: 119px;
        height: 154px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("/static/main_platform/otree/media/sack-images/sack-empty.svg") no-repeat center;

        .company-face {
          width: 35px;
          height: 35px;
        }

        .result-table-face-1 {
          margin: 77px 0 0 14px;
        }

        .result-table-face-2 {
          margin: 3px 0 0 0;
        }

        .result-table-face-3 {
          margin: 77px 14px 0 0;
        }

      }


    }

  }

  .round-introduction {
    font-family: "Patrick Hand", cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .daytrader-round-info-container {
      display: flex;
    }
  }


  /*****************************
  *   Play.html svg styling    *
  *******************************/
  .answer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 300px;
    width: 100%;


  }

  #timer-text {
    top: 0;
    left: 8px;
    font-size: 22px;
    padding-top: 2%;
    font-family: "Patrick Hand", cursive;

    #timer {
      padding-left: 5px;
      display: flex;
      justify-content: center;
    }
  }


  .game-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
  }

  .svg-column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    padding-right: 20px;
    margin-bottom: 5%;
    border-color: $ku-red;
    border-radius: 2px;
    border-style: solid solid solid solid;
  }

  /*********************************
  *   Play.html timer styling     *
  *********************************/
  .flash {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }

  @keyframes flash {
    from {
      color: red;
    }
    to {
      color: black;
    }
  }

  /***********************************
  *   Play.html chat+svg container  *
  ***********************************/
  .surround {
    width: 100%;
  }

  /*********************************
  *   Play.html chat styling      *
  *********************************/
  #chat {
    height: 250px;
    scroll-behavior: smooth;
    background: #ebeded;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
  }

  #chat::-webkit-scrollbar {
    width: 1em;
  }

  #chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  #chat::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }

  .chat-message {
    display: flex;
  }

  .chat-message b {
    padding: 0 10px 0 0;
  }

  #chat-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Patrick Hand", cursive;
    width: 50%;
    align-items: center;
    margin-bottom: 5%;

  }
  .chat-title {
    justify-content: center;
    display: flex;
    font-size: 50px;
    width: 100%;
  }

  .chat, .message {
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 20px;

    #chat {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      margin-bottom: 2%;
      width: 80%;
    }

    #message {
      font-size: 20px;
      max-width: 50%;
    }
  }

  .send {
    width: 100%;
    font-size: 20px;
    border: none;
    justify-content: center;
    display: flex;

    #send {
      width: 50%;
      height: 50px;
      background-color: $ku-red;
      font-size: 20px;
      border-color: transparent;


      &:hover {
        background-color: $ku-dark-green;

      }
    }

  }
  /*********************************
  *   Play.html button styling    *
  *********************************/


  .choice-button-holder {
    justify-content: center;
    display: flex;


  }

  .choice-button {
    width: 235px;
    height: 70px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    color: black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-family: "Annie Use Your Telescope", serif;
    background-color: transparent;
    border: 2px solid $ku-red;
    margin-bottom: 10%;
    margin-left: 5%;


    &:hover {
      background-color: $ku-dark-green;
      color: white;
      border-color: transparent;

    }

    &:active {
      background-color: $ku-dark-green;
      color: white;

    }

    &:focus {
      border-color: $ku-dark-green;
      background-color: $ku-dark-green;
      color: white;
    }

    img {
      width: 55px;
      height: 55px;
    }
  }

  /*********************************
  *   Results.html table styling   *
  *********************************/

  .results-title {
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: bold;

  }
  .results-container {
    margin-top: 4%;

    .report-info {
      padding-bottom: 30px;


    }
  }

  .game-results-table {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 20px;

  }


  .d3-results-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: "Roboto Slab", serif;

    #d3consensus {
      display: flex;
      justify-content: center;
    }

    #d3playback {
      display: none;
    }
  }

  .game-results {
    margin-top: 2%;
    padding: 10px 50px 10px 50px;
    background-color: white !important;
    border-radius: 10px;
  }

  .report-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 5% 0;

    .report-description {
      font-family: "Patrick Hand", sans-serif;
      font-size: 26px;
      color: black;
      margin: 15px 0;
    }

    .daytrader-admin-company-list {
      font-size: 22px;
      display: flex;
      align-items: center;
    }

    // Styling af det viste ansigt i teksten
    .company-face {
      width: 50px;
      height: 50px;
    }

    .graph-image {
      width: 700px;
      height: 400px;
    }

    .daytrader-table {
      margin: 10px 0;
      border-collapse: separate;
      border-spacing: 0 0.5em;
      width: 80%;

      .border-corner-left {
        border-radius: 10px 0 0 10px;
      }

      .border-corner-right {
        border-radius: 0 10px 10px 0;
      }

      .daytrader-table-header {
        background: $ku-dark-blue;
        color: white;
        font-weight: bold;
        font-family: "Patrick Hand", sans-serif;
        font-size: 26px;
        border-top: none !important;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
      }

      .daytrader-table-data {
        font-size: 26px;
        font-family: "Patrick Hand", sans-serif;
        border-top: none !important;
        text-align: center;
        vertical-align: middle;
      }

      .daytrader-table-row {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }

    #tableReport {
      display: inline-table;
    }

    .ranking-container {
      width: 50%;
      #rankingTable {
        border-collapse: separate;
        border-spacing: 0 0.5rem;
        display: inline-table;

        .border-corner-left {
          border-radius: 10px 0 0 10px;
        }

        .border-corner-right {
          border-radius: 0 10px 10px 0;
        }

        .table-ranking-header {
          background: $ku-dark-blue;
          color: white;
          box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
          font-size: 26px;
          text-align: center;
          vertical-align: middle;
        }

        .table-ranking-row {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
        }

        .table-ranking-data {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }

  .admin-table-data {
    display: flex;
    justify-content: center;

    .admin-sack-button-container {
      margin: 0 10px;
      width: 119px;
      height: 154px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("/static/main_platform/otree/media/sack-images/sack-empty.svg") no-repeat center;

      .daytrader-sack-buttons {
        margin: 100px 0 0 4px;
      }

      .company-face {
        width: 35px;
        height: 35px;
      }


      .admin-table-face-1 {
        margin: 77px 0 0 14px;
      }

      .admin-table-face-2 {
        margin: 3px 0 0 0;
      }

      .admin-table-face-3 {
        margin: 77px 14px 0 0;
      }
    }

    .sack-btn {
      margin: 0;
      padding: 0;
      width: 60px;
      height: 60px;
    }
  }

  /* Admin Navbar */
  #admin-panel {
    margin-top: 1%;

    .btn-circle {
      width: 175px;
      height: 175px;
      font-size: 26px;
      padding: 0;
      text-align: center;
    }
  }



}

