@media (min-width: 375px) {


  /*******************************
  *  Hide otree default message  *
  ********************************/

  .otree-timer {
    display: none
  }

  .otree-title {
    display: none
  }

  /******************************
  *   Play.html info styling    *
  *******************************/


  .daytrader-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    background-color: white;
    width: 95%;
    padding: 10px 20px 30px 20px;

    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .daytrader-round-info {
      font-size: 19px;
      font-family: "Patrick Hand", sans-serif;
      text-align: center;

      h3 {
        font-weight: bold;
      }
    }

    .daytrader-intro-frontpage-img {
      width: 320px;
      height: 400px;

      .daytrader-start-game-btn {
        font-size: 40px;
        margin: 180px 0 0 0;
      }
    }

    .future-trader-stickman {
      width: 150px;
    }

    .daytrader-round-title {
      font-family: "Patrick Hand", cursive;
      font-size: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      background-image: url("../../../../../../static/main_platform/otree/media/daytrader_titlekusvg.svg");
      background-repeat: no-repeat;
      background-position: center;
      padding: 35px 0;
      color: white;
    }

    .round-introduction {
      font-family: "Patrick Hand", cursive;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 90%;
    }

    // Styling af det viste ansigt i teksten
    .company-face {
      width: 30px;
      height: 30px;
    }


    // Daytrader Table
    .daytrader-table {
      margin: 50px 0 0 0;
      border-collapse: separate;
      border-spacing: 0 0.5em;

      .border-corner-left {
        border-radius: 10px 0 0 10px;
      }

      .border-corner-right {
        border-radius: 0 10px 10px 0;
      }

      .daytrader-table-header {
        background: $daytrader-blue;
        color: white;
        font-weight: bold;
        font-family: "Patrick Hand", sans-serif;
        font-size: 17px;
        border-top: none !important;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
      }

      .daytrader-table-data {
        font-size: 17px;
        font-family: "Patrick Hand", sans-serif;
        border-top: none !important;
        text-align: center;
      }

      .daytrader-table-row {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }

    // Container til daytrader formen
    .daytrader-form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .daytrader-form-info {
        font-size: 18px;
        font-family: "Patrick Hand", sans-serif;
        text-align: center;
      }
    }

    // Container til input af antal aktier og næste knap
    .daytrader-submit-value {
      display: flex;
      flex-direction: column;
      justify-content: center;

      #id_choice_of_number_of_shares {
        max-width: 244px;
        height: 40px;
        left: 550px;
        top: 1637px;

        border: 5px solid #41739D;
        box-sizing: border-box;
        border-radius: 30px;
      }
    }

    .otree-btn-next {


    }

    .field-choice_of_number_of_shares, {
      display: flex;
      justify-content: center;
    }

    .daytrader-next-btn-container {

      display: flex;
      justify-content: center;

      .daytrader-next-btn {
        font-size: 22px;
        background: $daytrader-blue;
        font-family: "Patrick Hand", sans-serif;
        width: 244px;
        height: 40px;
        color: white;

        border: 5px solid $daytrader-blue;
        box-sizing: border-box;
        border-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .reveal-face {
      width: 30px;
      height: 30px;

      &:hover {
        cursor: pointer;
      }
    }

    .field-choice_of_trade {
      margin: 10px 0 0 0;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .form-check {
        display: flex;
        flex-direction: row;
        margin-right: 0;
        padding: 20px 0 20px 60px;

        .form-check-label {
          font-family: "Patrick Hand", sans-serif;
          font-size: 20px;
          text-transform: capitalize;
        }

        input.form-check-input[type="radio"] {
          -webkit-appearance: none;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          outline: none;
          border: 3px solid $daytrader-blue;

          &:before {
            content: '';
            display: block;
            width: 60%;
            height: 60%;
            margin: 20% auto;
            border-radius: 50%;
          }

          &:checked:before {
            background: $daytrader-blue;
          }

          &:checked {
            border-color: $daytrader-blue;
          }
        }
      }
    }

    .daytrader-info-choice {
      width: 100%;
    }
  }


  /*****************************
  *   Play.html svg styling    *
  *******************************/
  .answer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 300px;
    width: 100%;

    svg {
      width: 100%;
    }

  }

  #timer-text {
    top: 0;
    left: 8px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family: "Patrick Hand", cursive;

    #timer {
      padding-left: 5px;
    }
  }


  .game-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
  }

  .svg-column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 90%;
    align-self: center;

    margin-bottom: 5%;
    border-color: $ku-red;
    border-radius: 2px;
    border-style: solid solid solid solid;
  }

  /*********************************
  *   Play.html timer styling     *
  *********************************/
  .flash {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }

  @keyframes flash {
    from {
      color: red;
    }
    to {
      color: black;
    }
  }

  /***********************************
  *   Play.html chat+svg container  *
  ***********************************/
  .surround {
    width: 100%;
  }

  /*********************************
  *   Play.html chat styling      *
  *********************************/
  #chat {
    height: 250px;
    scroll-behavior: smooth;
    background: #ebeded;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
  }

  #chat::-webkit-scrollbar {
    width: 1em;
  }

  #chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  #chat::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }

  .chat-message {
    display: flex;
  }

  .chat-message b {
    padding: 0 10px 0 0;
  }

  #chat-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Patrick Hand", cursive;
    width: 100%;
    align-items: center;
    margin-bottom: 5%;

  }
  .chat-title {
    justify-content: center;
    display: flex;
    font-size: 20px;
    width: 100%;
  }

  .chat, .message {
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 20px;

    #chat {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      margin-bottom: 2%;
      width: 70%;
    }

    #message {
      font-size: 20px;
      max-width: 70%;
    }
  }

  .send {
    width: 100%;
    font-size: 20px;
    border: none;
    justify-content: center;
    display: flex;

    #send {
      width: 70%;
      height: 50px;
      background-color: $ku-red;
      font-size: 20px;
      border-color: transparent;


      &:hover {
        background-color: $ku-dark-green;

      }
    }

  }
  /*********************************
  *   Play.html button styling    *
  *********************************/
  .mobile-column {
    display: initial;
    justify-content: center;
    flex-direction: row;
  }

  .choice-button-holder {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .choice-button {
    width: 235px;
    height: 70px;
    font-size: 18px;
    border-radius: 50px;
    color: black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-family: "Annie Use Your Telescope", serif;
    background-color: transparent;
    border: 2px solid $ku-red;
    margin: 5px 5px 10% 5px;

    &:hover {
      background-color: $ku-dark-green;
      color: white;
      border-color: transparent;

    }

    &:active {
      background-color: $ku-dark-green;
      color: white;

    }

    &:focus {
      border-color: $ku-dark-green;
      background-color: $ku-dark-green;
      color: white;
    }

    img {
      width: 50px;
      height: 50px;
      align-self: center;
    }
  }


}
