@media (min-width: 0px) {


  /*******************************
  *  Hide otree default message  *
  ********************************/

  .otree-timer {
    display: none
  }

  .otree-title {
    display: none
  }

  /******************************
  *   Play.html info styling    *
  *******************************/
  .daytrader-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    background-color: white;
    width: 98%;
    padding: 10px 10px 30px 10px;

    .content-container {
      width: 96%;
    }


    .future-modal, .short-modal, .long-modal, .info-cascade-modal, .lemming-modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);

      .future-modal-content, .short-modal-content, .long-modal-content, .info-cascade-modal-content, .lemminge-modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
      }
    }

    .daytrader-future, .short-modal-link, .long-modal-link, .info-cascade-link, .info-lemminge-link {
      color: $ku-dark-blue;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    .daytrader-intro-info-container {
      margin: 10px 0;
    }


    #continue {
      display: none;
    }

    .daytrader-sack-button-container {
      width: 100%;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("/static/main_platform/otree/media/sack-images/sack-empty.svg") no-repeat center;
      margin: 0 0 15px 0;


      .daytrader-sack-buttons {
        margin: 65px 0 0 0;

        &:hover {
          cursor: pointer;
        }
      }

      .company-face {
        height: 20px;
        width: 20px;
      }

      .company-face-in-sack {
        width: 40px;
        height: 40px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .sack-btn {
      margin: 0;
      padding: 0;
      width: 40px;
      height: 40px;


      &:hover {
        cursor: pointer;
        filter: contrast(1.75);

      }
    }

    /*******************
    *   intro1.html    *
    ********************/

    .daytrader-intro-title {
      color: $ku-dark-blue;
      text-transform: uppercase;
      font-family: 'Noticia Text', serif;
      font-weight: bold;
      letter-spacing: 4px;
      font-size: 40px;
      padding: 20px 0 0 0;
    }


    .daytrader-intro-frontpage-img {
      background: url("/static/main_platform/otree/media/front-page-sackbackground.svg") no-repeat;
      background-size: cover;
      width: 300px;
      height: 370px;
      display: flex;
      justify-content: center;
      align-items: center;

      .daytrader-start-game-btn {
        font-family: "Patrick Hand", sans-serif;
        background: $ku-dark-blue;
        font-size: 38px;
        color: white;
        margin: 180px 0 0 0;
        align-items: center;
        border-radius: 10px;
        border: 2px solid $ku-dark-blue;


        &:hover {
          cursor: pointer;
          background: $ku-dark-green;
          border-color: transparent;
        }
      }
    }


    /*******************
    *   intro2.html    *
    ********************/
    .daytrader-sack {
      height: 175px;
      margin: 0 0 20px 0;
    }

    .daytrader-intro-container-first {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 77%;

      .daytrader-intro-first {
        align-self: center;
      }
    }

    /*******************
    *   intro3.html    *
    ********************/
    .daytrader-intro-container-second {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .daytrader-intro-container-second-info {
        width: 100%;
      }

      .daytrader-intro-container-second-button {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    .daytrader-future {
      color: $ku-dark-blue;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }


    /*******************
    *   intro4.html    *
    ********************/

    .go-long-content {
      margin: 25px 0;
      width: 100%;
      display: none;
    }

    /****************************
      *  All day trader pages   *
    *****************************/
    .daytrader-round-title {
      font-family: 'Noticia Text', serif;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 25px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      color: $ku-dark-blue;
      width: 100%;
      padding: 20px 0 20px 0;;
    }

    .daytrader-round-info {
      font-size: 18px;
      font-family: "Patrick Hand", sans-serif;
      text-align: center;

      h3 {
        font-weight: bold;
      }
    }

    .round-introduction {
      font-family: "Patrick Hand", cursive;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }

    .daytrader-next-btn-container {

      display: flex;
      justify-content: center;

      .daytrader-next-btn {
        font-size: 18px;
        background: $ku-dark-blue;
        font-family: "Patrick Hand", sans-serif;
        width: 166px;
        height: 40px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid $ku-dark-blue;

        &:hover {
          cursor: pointer;
          background-color: $ku-dark-green;
          border-color: transparent;
        }
      }
    }


    // Styling af det viste ansigt i teksten
    .company-face {
      width: 28px;
      height: 28px;
    }


    // Daytrader Table
    .daytrader-table {
      margin: 10px 0;
      border-collapse: separate;
      border-spacing: 0 0.5em;

      td {
        vertical-align: middle;
      }

      .border-corner-left {
        border-radius: 10px 0 0 10px;
      }

      .border-corner-right {
        border-radius: 0 10px 10px 0;
      }

      .daytrader-table-header {
        background: $ku-dark-blue;
        color: white;
        font-weight: bold;
        font-family: "Patrick Hand", sans-serif;
        font-size: 13px;
        border-top: none !important;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
      }

      .daytrader-table-data {
        font-size: 13px;
        font-family: "Patrick Hand", sans-serif;
        border-top: none !important;
        text-align: center;
      }

      .daytrader-table-row {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }

    // Container til daytrader formen
    .daytrader-form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .daytrader-form-info {
        font-size: 18px;
        font-family: "Patrick Hand", sans-serif;
        text-align: center;


      }
    }

    // Container til input af antal aktier og næste knap
    .daytrader-submit-value {
      display: none;
      flex-direction: column;
      justify-content: center;

      .form-group {
        justify-content: center;
        display: flex;
      }

      .controls {

      }

      #id_choice_of_number_of_shares {
        max-width: 166px;
        height: 40px;
        left: 550px;
        top: 1637px;
        font-size: 20px;
        color: black;
        border: 5px solid #41739D;
        box-sizing: border-box;
        border-radius: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }


    .field-choice_of_number_of_shares {
      display: flex;
      justify-content: center;
      width: 50%;
      text-align: center;
    }


    .reveal-face {
      width: 20px;
      height: 20px;
    }

    .field-choice_of_trade {
      margin: 10px 0 0 0;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .form-check {
        display: flex;
        flex-direction: row;
        padding: 20px 0 20px 60px;

        .form-check-label {
          font-family: "Patrick Hand", sans-serif;
          font-size: 17px;
          text-transform: capitalize;
        }

        input.form-check-input[type="radio"] {
          -webkit-appearance: none;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          outline: none;
          border: 3px solid $ku-dark-blue;

          &:before {
            content: '';
            display: block;
            width: 60%;
            height: 60%;
            margin: 20% auto;
            border-radius: 50%;
          }

          &:checked:before {
            background: $ku-dark-blue;
          }

          &:checked {
            border-color: $ku-dark-blue;
          }
        }
      }
    }

    .daytrader-info-choice {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #tableResults {

      margin: 10px 0;
      border-collapse: separate;
      border-spacing: 0 0.5em;
      width: 90%;

      td {
        vertical-align: middle;
        color: black;
      }

      .border-corner-left {
        border-radius: 10px 0 0 10px;
      }

      .border-corner-right {
        border-radius: 0 10px 10px 0;
      }

      .daytrader-table-header {
        background: $ku-dark-blue;
        color: white;
        font-weight: bold;
        font-family: "Patrick Hand", sans-serif;
        font-size: 13px;
        border-top: none !important;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
      }

      .daytrader-table-data {
        font-size: 13px;
        font-family: "Patrick Hand", sans-serif;
        border-top: none !important;
        text-align: center;
      }

      .daytrader-table-row {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }
  }


  /*****************************
  *   Play.html svg styling    *
  *******************************/
  .answer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 300px;
    width: 100%;

    svg {
      width: 100%;
    }

  }

  #timer-text {
    top: 0;
    left: 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family: "Patrick Hand", cursive;

    #timer {
      padding-left: 5px;
    }
  }


  .game-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
  }

  .svg-column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 90%;
    align-self: center;

    margin-bottom: 5%;
    border-color: $ku-red;
    border-radius: 2px;
    border-style: solid solid solid solid;
  }

  /*********************************
  *   Play.html timer styling     *
  *********************************/
  .flash {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }

  @keyframes flash {
    from {
      color: red;
    }
    to {
      color: black;
    }
  }

  /***********************************
  *   Play.html chat+svg container  *
  ***********************************/
  .surround {
    width: 100%;
  }

  /*********************************
  *   Play.html chat styling      *
  *********************************/
  #chat {
    height: 250px;
    scroll-behavior: smooth;
    background: #ebeded;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
  }

  #chat::-webkit-scrollbar {
    width: 1em;
  }

  #chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  #chat::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }

  .chat-message {
    display: flex;
  }

  .chat-message b {
    padding: 0 10px 0 0;
  }

  #chat-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Patrick Hand", cursive;
    width: 100%;
    align-items: center;
    margin-bottom: 5%;

  }
  .chat-title {
    justify-content: center;
    display: flex;
    font-size: 20px;
    width: 100%;
  }

  .chat, .message {
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 20px;

    #chat {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      margin-bottom: 2%;
      width: 70%;
    }

    #message {
      font-size: 20px;
      max-width: 70%;
    }
  }

  .send {
    width: 100%;
    font-size: 20px;
    border: none;
    justify-content: center;
    display: flex;

    #send {
      width: 70%;
      height: 50px;
      background-color: $ku-red;
      font-size: 20px;
      border-color: transparent;


      &:hover {
        background-color: $ku-dark-green;

      }
    }

  }
  /*********************************
  *   Play.html button styling    *
  *********************************/
  .mobile-column {
    display: initial;
    justify-content: center;
    flex-direction: row;
  }

  .choice-button-holder {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .choice-button {
    width: 235px;
    height: 70px;
    font-size: 18px;
    border-radius: 50px;
    color: black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-family: "Annie Use Your Telescope", serif;
    background-color: transparent;
    border: 2px solid $ku-red;
    margin: 5px 5px 10% 5px;

    &:hover {
      background-color: $ku-dark-green;
      color: white;
      border-color: transparent;

    }

    &:active {
      background-color: $ku-dark-green;
      color: white;

    }

    &:focus {
      border-color: $ku-dark-green;
      background-color: $ku-dark-green;
      color: white;
    }

    img {
      width: 50px;
      height: 50px;
      align-self: center;
    }
  }

  .report-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .report-description {
      font-family: "Patrick Hand", sans-serif;
      font-size: 16px;
      color: black;
      margin: 10px 0;
      text-align: center;
    }

    .company-face {
      width: 35px;
      height: 35px;
    }

    .admin-sack-button-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .daytrader-sack-buttons {
        margin: 65px 0 0 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .graph-image {
      width: 95%;
      margin-top: 15%;
    }

    #tableReport {
      margin: 10px 0;
      border-collapse: separate;
      border-spacing: 0 0.5em;
      width: 90%;

      td {
        vertical-align: middle;
        color: black;
      }

      .border-corner-left {
        border-radius: 10px 0 0 10px;
      }

      .border-corner-right {
        border-radius: 0 10px 10px 0;
      }

      .daytrader-table-header {
        background: $ku-dark-blue;
        color: white;
        font-weight: bold;
        font-family: "Patrick Hand", sans-serif;
        font-size: 13px;
        border-top: none !important;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
      }

      .daytrader-table-data {
        font-size: 13px;
        font-family: "Patrick Hand", sans-serif;
        border-top: none !important;
        text-align: center;
      }

      .daytrader-table-row {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }

    .ranking-container {
      width: 80%;

      #rankingTable {
        border-collapse: separate;
        border-spacing: 0 0.5rem;
        display: inline-table;

        .border-corner-left {
          border-radius: 10px 0 0 10px;
        }

        .border-corner-right {
          border-radius: 0 10px 10px 0;
        }

        .table-ranking-header {
          background: $ku-dark-blue;
          color: white;
          box-shadow: 0px 0px 20px rgba(65, 115, 157, 0.5);
          font-size: 14px;
          text-align: center;
          vertical-align: middle;
        }

        .table-ranking-row {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
        }

        .table-ranking-data {
          text-align: center;
          font-size: 13px;
        }
      }
    }
  }


  /* Admin Navbar */
  #admin-panel {
    margin-top: 15%;

    .btn-circle {
      width: 72.5px;
      height: 72.5px;
      font-size: 18px;
      padding: 0;
      text-align: center;
    }
  }

  .admin-table-data {
    display: flex;
    justify-content: center;

    .admin-sack-button-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .daytrader-sack-buttons {
        margin: 100px 0 0 4px;
      }

      .company-face {
        width: 35px;
        height: 35px;
      }
    }

    .sack-btn {
      margin: 0;
      padding: 0;
      width: 60px;
      height: 60px;
    }
  }

}
