{% load static  %}
<style>
    .node {
        stroke: #000;
        stroke-width: 0px;
    }

    .node-player {
        stroke: #000;
        stroke-width: 3px;
    }

    .link {
        stroke: #999;
        stroke-width: 1.5px;
    }

    .node-text {
        font-family: annie_use_your_telescope;
        font-size: 25px;
    }

</style>
<script src="https://d3js.org/d3.v3.js"></script>
<script src="http://marvl.infotech.monash.edu/webcola/cola.min.js"></script>
<script>
    let width = 300;
    let height = 300;
    let nodeById = d3.map();
    let graph = JSON.parse('{{ network|safe }}');
    let svg = undefined;
    let d3Element = document.getElementById("d3container");

    let red = "{% static "media/red_peep.png" %}";
    let blue = "{% static "media/blue_peep.png" %}";
    let pink = "{% static "media/pink_peep.png" %}";
    let yellow = "{% static "media/yellow_peep.png" %}";
    let grey = "{% static "media/grey_peep.png" %}";
    let green = "{% static "media/green_peep.png" %}";

    let open_eyes = "{% static "media/open_eyes.png" %}";
    let closed_eyes = "{% static "media/closed_eyes.png" %}";
    let happy_eyes = "{% static "media/happy_eyes.png" %}";

    let get_color = function (choice) {
        return choice ? "{{ question.minority_color_img }}" : "{{ question.majority_color_img }}";
    };

    let setNodeColors = function (nodes) {
        nodes.forEach(function (n) {
            var node = nodeById.get(n.id);
            if (node) {
                node.choice = n.choice;
                svg.select("#node_image_" + node.id)
                    .attr("xlink:href", get_color(n.choice));
            }
        });
    };

    $(document).ready(function () {
        width = d3Element.clientWidth;
        svg = d3.select("#d3container")
            .append("svg")
            .attr("width", width)
            .attr("height", height);

        let force = cola.d3adaptor()
            .linkDistance(80)
            .size([width, height]);


        graph.nodes.forEach(function (node) {
            nodeById.set(node.id, node);
            node.x = width / 2;
            node.y = height / 2;
            node.blinking = false;
        });

        graph.links.forEach(function (link) {
            link.source = nodeById.get(link.source);
            link.target = nodeById.get(link.target);
        });

        force
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        let link = svg.selectAll(".link")
            .data(graph.links)
            .enter().append("line")
            .attr("class", "link");

        let node = svg.selectAll(".node")
            .data(graph.nodes)
            .enter().append("g")
            .attr("class", "node")
            .attr("fixed", function (d) {
                d.fixed = (d.id === {{ player.id_in_group }});
                return null
            })
            .call(force.drag);

        let ownSize = 46;
        let ownDisplacement = ownSize / 2;

        node
            .append("circle")
            .attr("id", function (d) {
                return "node_" + d.id
            })
            .attr("class", function (d) {
                return d.id === {{ player.id_in_group }} ? "node-player" : "node"
            })
            .attr("r", function (d) {
                return d.id === {{ player.id_in_group }} ? ownDisplacement-3.5 : 10
            });


        node.append("svg:image")
            .attr("id", function (d) {
                return "node_image_" + d.id
            })
            .attr('x', function (d) {
                return d.id === {{ player.id_in_group }} ? -ownDisplacement : -20
            })
            .attr('y', function (d) {
                return d.id === {{ player.id_in_group }} ? -ownDisplacement : -20
            })
            .attr('width', function (d) {
                return d.id === {{ player.id_in_group }} ? ownSize : 40
            })
            .attr('height', function (d) {
                return d.id === {{ player.id_in_group }} ? ownSize : 40
            })
            .attr("xlink:href", function (d) {
                return get_color(d.choice)
            });

        let eyes = node.append("svg:image")
            .attr("id", function (d) {
                return "node_image_eyes" + d.id
            })
            .attr('x', function (d) {
                return d.id === {{ player.id_in_group }} ? -ownDisplacement : -20
            })
            .attr('y', function (d) {
                return d.id === {{ player.id_in_group }} ? -ownDisplacement : -20
            })
            .attr('width', function (d) {
                return d.id === {{ player.id_in_group }} ? ownSize : 40
            })
            .attr('height', function (d) {
                return d.id === {{ player.id_in_group }} ? ownSize : 40
            })
            .attr("xlink:href", open_eyes);

        d3.timer(function () {
            eyes.attr("xlink:href", function (d) {
                if (d.blinking) {
                    if (Math.random() < 0.05) {
                        d.blinking = false
                    }
                } else {
                    if (Math.random() < 0.01) {
                        d.blinking = true
                    }
                }


                return d.blinking ? closed_eyes : open_eyes;
            });
        });

        node.append("text")
            .attr("class", "node-text")
            .attr("text-anchor", "right")
            .attr("dx", 15)
            .attr("dy", 20)
            .text(function (d) {
                return (d.id === {{ player.id_in_group }} ? ("\u00A0" + d.id + "(dig)") : d.id);
            });

        force.on("tick", function () {
            link.attr("x1", function (d) {
                return d.source.x;
            })
                .attr("y1", function (d) {
                    return d.source.y;
                })
                .attr("x2", function (d) {
                    return d.target.x;
                })
                .attr("y2", function (d) {
                    return d.target.y;
                });

            node.attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            })
        });

    })
</script>
