
[run]
source = otree
omit =
    otree/app_template/*
    otree/project_template/*
    otree/asgi.py
    otree/wsgi.py
# needed for combining multiple runs together. -a doesn't seem to work reliably?
parallel = True

[report]
fail_under = 74
skip_covered = true
show_missing = true
