include LICENSE
include README.md
recursive-include otree/static *
recursive-include otree/templates *
recursive-include docs *
recursive-include otree/locale *
recursive-exclude otree/project_template *
