include LICENSE
include README.md
recursive-include otree/static *
recursive-include otree/templates *
recursive-include otree/app_template/templates *
recursive-include docs *
recursive-include otree/locale *
