include LICENSE
include README.rst
include ptree/app_template.zip
include ptree/project_template.zip
recursive-include ptree/static *
recursive-include ptree/templates *
recursive-include docs *
recursive-include ptree/locale *
