aiofiles  # starlette StaticFiles
asgiref  # maybe can use asyncio.run instead?
ibis>=2.0.0rc4
itsdangerous
markupsafe
python-multipart
sqlalchemy
starlette
uvicorn
websockets  # this library is optional but auto-pings websockets and detects disconnects (e.g. rooms)
wtforms
WTForms-SQLAlchemy