{% extends "ptree/BaseBuiltIn.html" %}

{% block title %}
    {{ session_type_name }}
{% endblock %}

{% block content %}

    {% if doc %}
        <h3>Session description</h3>
        <p>
        {{ doc }}
        </p>
    {% endif %}

    <h3>Description</h3>
    <table class="table">

    {% for app in subsession_apps %}
        <tr>
            <th>{{ app.name }}</th>
            <td>{{ app.doc|safe }}</td>
        </tr>

    {% endfor %}
    </table>

    <h3>
        Start links
    </h3>

    <p>
        Then, open all links, each in its own browser tab.
    </p>

    <h4>
        Experimenter
    </h4>
        <a href="{{ experimenter_url }}" class="experimenter-link" target="_blank">{{ experimenter_url }}</a><br/>

    <h4>
        SessionParticipanRENAMEts
    </h4>

    <p><b>Before session_participanRENAMEts can play, you need to click the experimenter link above and start the session.</b></p>
    {% for session_participanRENAMEt_url in session_participanRENAMEt_urls %}
            <a href="{{ session_participanRENAMEt_url }}" class="session_participanRENAMEt-link" target="_blank">{{ session_participanRENAMEt_url }}</a>
            <br/>
    {% endfor %}

    {% if is_demo_page %}
        <br/>
        <p>
            These are single-use links. To get new start links, refresh this page. This will let you simulate a new set of session_participanRENAMEts,
            who will be reassigned to treatment groups and match groups.
        </p>
    {% endif %}


{% endblock %}