{% extends "ptree/BaseBuiltIn.html" %}

{% block title %}
    Start Links
{% endblock %}

{% block content %}

    <h3>
        Experimenter link
    </h3>

        <a href="{{ experimenter_url }}" class="experimenter-link" target="_blank">{{ experimenter_url }}</a><br/>

    <h3>
        Participant links
    </h3>

    {% for participant_url in participant_urls %}
            <a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a>
            <br/>
    {% endfor %}

{% endblock %}