{% load staticfiles %}
{% load ptreefilters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block header_title %}Task{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="{% static "ptree/js/ptree.js" %}"></script>
        
        <!-- documentation at jqueryvalidation.org -->
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        
        

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

        {% block head_content %}{% endblock %}
    </head>
    <body>
        <div class="container" style='max-width:970px'>
            <div class="page-header">
                <h2>{% block title %}{% endblock %}</h2>
            </div>

            <div>
            {% if participant_resubmitted_last_form %}
                <div class="alert alert-warning">
                    It looks like you just resubmitted a form.
                    We do not allow you to change your answers, so we ignored your re-submission.
                    Please continue.
                </div>
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
        

        {% if jump_to_form %}
            <script type="text/javascript">
                $(document).ready(function () {
                    location.href = "#{{ form_element_id }}";
                });
            </script>
        {% endif %}

        {% block scripts_at_bottom_of_page %}
        {% endblock %}

    </body>
</html>