{% load staticfiles %}
<script type="text/javascript">
    var checkIfReady = function() {

    var args = { type: "GET", url: "{{ SequenceViewURL }}", complete: redirectToSequenceView};
    $.ajax(args);

    }

    var redirectToSequenceView = function(res, status) {
        if (status == "success") {
            var response = res.responseText;
            if (response == "1") {
                document.location.href = '{{ SequenceViewURL }}';
            }
        }
    }

    var SECOND = 1000;
    var intervalId = window.setInterval("checkIfReady()", 5 * SECOND);

</script>