{% load otree static %}
{% load i18n %}
{% block styles %}
    <style>
        body {
            background-color: deeppink;
            background-repeat: no-repeat;
              background-size: 100%, 100%;
              display: flex;
              justify-content: center;
              align-items: center;
        }
    </style>
{% endblock %}

<!-- Game/session view as active or admin with settings/config-->
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
<div>
<p>
    is_stafff and admin page
</p>

<div>
<p>Opret rum</p>
<p>Du har valgt at oprette et klasserum.</p>
<p>Efter du har oprettet et klasserum, kan spillene begynde.</p>
<p>Du kan altid finde og redigere dine rum øverst på siden under <b>"Mine rum"</b></p>

     <form action="." method="post">
        {% csrf_token %}
        {{ form.room_name }}
        <div>
            <input type="submit" class="btn btn-primary" value="Opret klasserum">
        </div>
    </form>
</div>
</div>

<!-- Game/session creation without login -->
{% else %}

<div>
<p>Opret rum</p>
<p>Du har valgt at oprette et klasserum.</p>
<p>Efter du har oprettet et klasserum, kan spillene begynde.</p>
<p>Du kan altid finde og redigere dine rum øverst på siden under <b>"Mine rum"</b></p>

    <form action="." method="post">
        {% csrf_token %}
        {{ form.room_name }}
        <div>
            <input type="submit" class="btn btn-primary" value="Opret klasserum">
        </div>
    </form>
</div>


{% endif %}


