{% extends "otree/BaseAdmin.html" %}

{% block title %}
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
   Konfigurer dit spil
{% else %}
{% endif %}
{% endblock %}

{% block content %}







     <!-- Use Day Trader Session form -->
    {% if request.path == "/opret_spil/bad_influence/" %}
            {% include "otree/includes/CreateSessionFormBadInfluence.html" %}
    {% elif request.path == "/opret_spil/day_trader/" %}
        {% include "otree/includes/CreateSessionFormDayTrader.html" %}
    {% endif %}


{% endblock %}
