{% extends "otree/BaseAdmin.html" %}
{% load otree static %}
{% load i18n %}
{% block styles %}
    <style>
        body {
            background-image: url("/static/main_platform/otree/media/opret-bg.svg");
            background-repeat: no-repeat;
            background-size: 100%, 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}
{% block content %}
<!-- Game/session view as active or admin with settings/config-->
{% if user.is_authenticated and user.is_staff or user.is_superuser or user.is_active %}



<div class="create-game">
    <div class="card">
        <a href="{% url 'games' %}" class="back-button">Gå tilbage</a>
        <header class="card-header">
          Opret klasserum
        </header>

        <div class="card-body">
            <div>
                <p>Du har valgt at oprette et <b>klasserum.</b></p>
                <p>Dette klasserum bruger du til at lave spil til din klasse.</p>
                <p>Indtast det navn du ønsker dit nye klasserum skal have.</p>
                <small>Navnet kan kun indeholde <b>Bogstaver</b>, <b>Tal</b> og <b>Underscores</b>. Ingen mellemrum.</small>
                <br>
                <small><i>Eksempelvis: <b>IBC_2G</b></i></small>

            </div>
        </div>
        <div class="card-footer">
             <form action="." method="post">
                {% csrf_token %}
                {{ form.name }}
                <div>
                    <button type="submit" class="btn btn-primary" value="Opret klasserum">Opret klasserum</button>
                </div>
             </form>
        </div>
</div>
{% else %}
<!-- Game/session creation without login -->
<div>
    <h3>*Du har ikke adgang til dette view, venligst log ind. </h3>
</div>

{% endif %}
{% endblock %}

