{% extends "otree/BaseAdmin.html" %}
{% load otree_internal static %}
{% comment %}
{% block head_title %}
{{ session.config.display_name }}: session '{{ session.code }}'{% if session.is_demo %} (demo) {% endif %}
{% endblock %}

{% endcomment %}
{% block title %}
Admin Panel
{% endblock %}

{% block menus %}

<div id="admin-panel">
<a href="{% url 'games' %}" class="tilbage-button">Forside </a>
    <ul class="nav justify-content-center">

        <li role="presentation" class="nav-item">
             <a class="nav-link {% active_page request 'SessionStartLinks' session.code %}" href="{% url 'SessionStartLinks' session.code %}">
           <button class="btn btn-default btn-circle">
               Start link
               <br>
             <!--  <img src='{% static "glyphicons/link.png" %}'>-->
           </button>
            </a>
        </li>

        <li role="presentation" class="nav-item">
            <a class="nav-link {% active_page request 'SessionMonitor' session.code %}" href="{% url 'SessionMonitor' session.code %}">
                <button class="btn btn-default btn-circle">
                    Fremgang
                    <br>
                  <!--  <img class="icon" alt="Monitor"src='{% static "glyphicons/eye-open.png" %}'>-->
                </button>
            </a>
        </li>
    <!--
        <li role="presentation" class="nav-item">
            <a class="nav-link {% active_page request 'SessionData' session.code %}" href="{% url 'SessionData' session.code %}">
                 <button class="btn btn-default btn-circle">
                     Data
                     <br>
                   <img src='{% static "glyphicons/list-alt.png" %}'>
                 </button>
            </a>
        </li>
-->
        <li role="presentation" class="nav-item">
            <a class="nav-link {% active_page request 'AdminReport' session.code %}" href="{% url 'AdminReport' session.code %}">
                 <button class="btn btn-default btn-circle">
                      Rapport
                     <br>
                    <!--    <img src='{% static "glyphicons/stats.png" %}'>-->
                 </button>

            </a>
    </ul>
</div>

<!--  Use jQuery change color depending on active menu item / HREF -->
<script>
$(document).ready(function(){
    	$(document).activeNavigation("#admin-panel")
	});

(function( $ ) {
    $.fn.activeNavigation = function(selector) {
        var pathname = window.location.pathname;
        var extension_position;
        var href;
        var hrefs = []
        $(selector).find("a").each(function(){
            // Remove href file extension
            extension_position = $(this).attr("href").lastIndexOf('.');
            href = (extension_position >= 0) ? $(this).attr("href").substr(0, extension_position) : $(this).attr("href");

            if (pathname.indexOf(href) > -1) {
                hrefs.push($(this));
            }
        })
        if (hrefs.length) {
            hrefs.sort(function(a,b){
                return b.attr("href").length - a.attr("href").length
            })
            hrefs[0].closest('li').addClass("active")
        }
    };
})(jQuery);


    </script>
{% endblock %}
