{% extends "otree/BaseBuiltIn.html" %}
{% load otree_tags floppyforms %}

{% block title %}
oTree Sessions
    <a class="btn btn-primary btn" href="{% url 'session_types_create' %}" style="float: right;">
        <span class="glyphicon glyphicon-plus"></span> Create new session
    </a>
{% endblock %}
{% block content %}
{{ block.super }}
<!--modal windows for creating mturk session-->
<div class="modal fade" id="mturk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Create HIT</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="recipient-name" class="col-sm-3 control-label">Title:</label>
              <input type="text" class="form-control" name="hit-title">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-sm-3 control-label">Description:</label>
              <input type="text" class="form-control" name="hit-description">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-sm-3 control-label">Keywords:</label>
              <input type="text" class="form-control" name="hit-keywords">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-sm-3 control-label">Money reward:</label>
              <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" name="hit-reward">
              </div>
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-sm-3 control-label">Assignments:</label>
              <input type="text" class="form-control" name="hit-assignments" readOnly="true">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="create-hit" formmethod="GET" formaction="#">Create HIT</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
$('#mturk').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var session_code = button.data('code') // Extract info from data-* attributes
    var hit_title = button.data('title')
    var hit_description = button.data('description')
    var hit_keywords = button.data('keywords')
    var hit_assignments = button.data('assignments')
    var hit_reward = button.data('reward')
    var hit_create_href = button.data('href')
    var modal = $(this)
    modal.find('.modal-title').text('Create HIT for session "' + session_code + '"')
    modal.find('button#create-hit').attr('formaction', hit_create_href)
    modal.find('input[name="hit-title"]:text').val(hit_title)
    modal.find('input[name="hit-description"]:text').val(hit_description)
    modal.find('input[name="hit-keywords"]:text').val(hit_keywords)
    modal.find('input[name="hit-reward"]:text').val(parseFloat(hit_reward).toFixed(2))
    modal.find('input[name="hit-assignments"]:text').val(hit_assignments)
})
</script>
<!--end modal windows for creating mturk session-->
{% include 'otree/TopMenu.html' %}
{% if object_list %}
<table class="table">
    <thead>
        <th>Code</th>
        <th>Label</th>
        <th>Type</th>
        <th></th>
    </thead>
    <tbody>
    {% for s in object_list %}
    <tr>
        <td><a href="{% url 'session_description' s.pk %}">{{ s.code }}</a></td>
        <td>{{ s.label }}</td>
        <td>{{ s.session_type.name }}</td>
        <td>
            <a href="{% url 'session_start_links' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-link"></span> Links
            </a>
            <a href="{% url 'session_edit' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
            <a href="{% url 'session_monitor' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span> Monitor
            </a>
            <a href="{% url 'session_results' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-list-alt"></span> Results
            </a>
            <a href="{% url 'session_payments' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-usd"></span> Payments
            </a>
            {% if s != default_session %}
            <a href="{% url 'set_default_session' s.pk %}" class="btn btn-primary btn-sm" data-toggle="popover" data-trigger="hover" data-content="You can route the participants to this session by clicking the button." data-placement="bottom">
                <span class="glyphicon glyphicon-home"></span> Default
            </a>
            {% else %}
            <a href="{% url 'unset_default_session' %}" class="btn btn-success btn-sm" data-toggle="popover" data-trigger="hover" data-content="The participants are routed to this session. By clicking the button you can unset it." data-placement="bottom">
                <span class="glyphicon glyphicon-home"></span> Default
            </a>
            {% endif %}
            {% if not s.mturk_HITId %}
            {% if not is_mturk_set %}
            <div style="display: inline-block;" data-toggle="popover" data-trigger="hover" data-content="To publish you experiment you need to setup your credentials for MTurk as enviromental variables"><button class="btn btn-primary btn-sm active" disabled>
                <span class="glyphicon glyphicon-cloud"></span> MTurk&nbsp;&nbsp;&nbsp;
        </button></div>
            {% else %}
            {% with s.session_type.mturk_hit_settings as hit %}
            <button data-href="{% url 'create_hit_from_session' s.pk %}" data-mturk="{{ s.mturk_id }}" data-code="{{ s.code }}" data-title="{{ hit.title }}" data-description="{{ hit.description }}" data-keywords="{{ hit.keywords|join:', ' }}" data-reward="{{ s.session_type.fixed_pay }}" data-assignments="{{ s.get_participants|length }}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#mturk">
                <span class="glyphicon glyphicon-cloud"></span> MTurk&nbsp;&nbsp;&nbsp;
            </button>
            {% endwith %}
            {% endif %}
            {% else %}
            <div class="btn-group">
                <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud"></span> MTurk <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ s.mturk_requester_url }}" target="_blank">Requester link</a></li>
                    <li><a href="{{ s.mturk_worker_url }}" target="_blank">Worker link</a></li>
                </ul>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No sessions available.</p>
{% endif %}
{% include "otree/messages.html" %}
{% endblock %}
