{% extends "otree/BaseBuiltIn.html" %}
{% load otree_tags floppyforms %}

{% block title %}
oTree Sessions
    <a class="btn btn-primary btn" href="{% url 'session_types_create' %}" style="float: right;">
        <span class="glyphicon glyphicon-plus"></span> Create new session
    </a>
{% endblock %}
{% block content %}
{{ block.super }}
{% include 'otree/TopMenu.html' %}
{% if object_list %}
<table class="table">
    <thead>
        <th>Code</th>
        <th>Label</th>
        <th>Type</th>
        <th></th>
    </thead>
    <tbody>
    {% for s in object_list %}
    <tr>
        <td><a href="{% url 'session_description' s.pk %}">{{ s.code }}</a></td>
        <td>{{ s.label }}</td>
        <td>{{ s.session_type.name }}</td>
        <td>
            <a href="{% url 'session_start_links' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-link"></span> Links
            </a>
            <a href="{% url 'session_edit' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
            <a href="{% url 'session_monitor' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span> Monitor
            </a>
            <a href="{% url 'session_results' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-list-alt"></span> Results
            </a>
            <a href="{% url 'session_payments' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-usd"></span> Payments
            </a>
            {% if s != default_session %}
            <a href="{% url 'set_default_session' s.pk %}" class="btn btn-primary btn-sm" data-toggle="popover" data-trigger="hover" data-content="You can route the participants to this session by clicking the button." data-placement="bottom">
                <span class="glyphicon glyphicon-home"></span> Default
            </a>
            {% else %}
            <a href="{% url 'unset_default_session' %}" class="btn btn-success btn-sm" data-toggle="popover" data-trigger="hover" data-content="The participants are routed to this session. By clicking the button you can unset it." data-placement="bottom">
                <span class="glyphicon glyphicon-home"></span> Default
            </a>
            {% endif %}
            {% if not s.mturk_HITId %}
            <a href="{% url 'session_create_hit' s.pk %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-cloud"></span> MTurk&nbsp;&nbsp;&nbsp;
            </a>
            {% else %}
            <div class="btn-group">
                <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud"></span> MTurk <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ s.mturk_requester_url }}" target="_blank">Requester link</a></li>
                    <li><a href="{{ s.mturk_worker_url }}" target="_blank">Worker link</a></li>
                </ul>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No sessions available.</p>
{% endif %}
{% include "otree/messages.html" %}
{% endblock %}
