{% extends "otree/BaseBuiltIn.html" %}

{% block title %}
    Persistent Lab URLs
{% endblock %}

{% block content %}

    <p>
    Here are some example persistent URLs you can use in the lab. They will stay constant for new sessions, even if the database is recreated.
    </p>

    {% for url in open_session_example_urls %}
        <a href="{{ url }}">{{ url }}</a>
        <br/>
    {% endfor %}

    <p>
    You should take these links, copy them for as many participants are in your session,
    and modify the <code>{{ participant_label }}</code> parameter of each link.
    The above is just an example.
    You can use whatever naming scheme you would like to use, e.g. <code>{{ participant_label }}=PC-1</code>, <code>{{ participant_label }}=PC-2</code>, etc.
    </p>

    <p>
    When a user visits one of these links, they are routed to whichever session you have set as the "open session"
    (see the "Global data" section of the admin dashboard). So, when one session is finished, you can create a new session,
    and set it to be the open session.
    </p>

    <p>
    Note the parameter <code>{{ access_code_for_open_session }}</code>. This is defined in your <code>settings.py</code>.
    You can change it as frequently as you'd like, to prevent unauthorized server access.
    </p>

    <p>
    <a href="https://github.com/oTree-org/oTree/wiki/Running-Lab-Sessions">More information</a>
    </p>


{% endblock %}