{% extends "otree/BaseAdmin.html" %}
{% load otree_tags floppyforms %}

{% block title %}
    {{ room.display_name }}
{% endblock %}

{% block content %}

    <h3>Create a new session</h3>

    {% include "otree/includes/CreateSessionForm.html" %}

    <hr/>
    <details>
        <summary id="participants_waiting_count">Participants Ready (0)</summary>
        <ul id="participants_waiting_list"></ul>
    </details>
    <details>
        <summary id="participants_not_waiting_count">Participants Not Present (0)</summary>
        <ul id="participants_not_waiting_list"></ul>
    </details>

    <hr/>

    {% include "otree/includes/RoomParticipantLinks.html" %}

{% endblock %}


{% block internal_scripts %}
    {{ block.super }}
    <!-- this is an HTML file rather than JavaScript static file because context variables need to be passed to it -->
<script type="text/javascript">
$(document).ready(function () {

    var socket;

    initWebSocket();

    function initWebSocket() {

        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "{{ view.socket_url|safe }}";
        socket = new ReconnectingWebSocket(ws_path);
        socket.onmessage = function(e) {
            var data = JSON.parse(e.data);

            // Handle errors
            if (data.error) {
                $("#error-notice").show();
                return;
            }

            // Allow for future messages of different kinds
            var status = data["status"];
            if (status == "update_list") {
                // Replace the existing list of participants with our new list
                var participants = data["participants"];
                replaceUL(participants);
            }
        };
        socket.onopen = function() {
            console.log('WebSocket connected');
        };
        socket.onclose = function() {
            console.log('WebSocket disconnected');
        };
    }

    function replaceUL(array) {
        // Create the list element:
        var list = document.getElementById("participants_waiting_list");
        while (list.firstChild) {
            list.removeChild(list.firstChild);
        }

        for(var i = 0; i < array.length; i++) {
            // Create the list item:
            var item = document.createElement('li');

            // Set its contents:
            item.appendChild(document.createTextNode(array[i]));

            // Add it to the list:
            list.appendChild(item);
        }

        document.getElementById("participants_waiting_count").innerHTML = "Participants Ready (" + list.childElementCount + ")";
    }

});
</script>
{% endblock %}