{% extends "otree/BaseSite.html" %}
{% load otree_tags floppyforms %}

{% block title %}
    {{ room.display_name }}
{% endblock %}

{% block content %}

    {% include "otree/includes/RoomParticipantLinks.html" %}

    <h3>Create a new session</h3>

    {% formrow form.session_config %}

    {% formrow form.num_participants %}

    {% next_button %}

    <hr/>
    <h4>Participants waiting: ({{ participant_count }})</h4>

    {% for participant in participant_names %}
        <p>{{ participant }}</p>
    {% endfor %}

{% endblock %}
