{% extends "otree/BaseAdmin.html" %}

{% block title %}
    Room: {{ room.display_name }}
{% endblock %}

{% block content %}
    <style>
        body {
            background: #901a1e;
        }
    </style>

    <div class="rooms-with-session-container container">


        {% include "otree/includes/RoomParticipantLinks.html" %}

        <form method="post" action="{% url "CloseRoom" room.name %}">
            {% csrf_token %}
            <button class="btn btn-primary" id="close-room">
                Close this room
            </button>

        </form>

        <div class="alert alert-success">
            <a href="{{ session_url }}">Go to active session.</a>
        </div>
    </div>

{% endblock %}
