{% extends "otree/BaseAdmin.html" %}
{% load otree static %}

{% block styles %}
    <style>
        body {
            background-color: #901A1E;

        }
    </style>
{% endblock %}

{% block content %}

    <div class="room-container container">
        <div class="rooms-table-container">
            <h2 class="rapport-header ">Oversigt over dine klasserum</h2>
            <table id="roomsTable">
                <tr class="rooms-table-row">
                    <th class="border-corner-left"> Klasserum</th>
                    <th>Opret spil</th>
                    <th>Rediger rum</th>
                    <th class="border-corner-right">Slet rum</th>
                </tr>

                {% for room in all_rooms %}
                    <tr class="rooms-table-row-data">
                        <td>
                            <a href="{% url "RoomWithoutSession" room.name %}">{{ room.display_name }}</a>
                        </td>
                        <td>
                            <a href="{% url "RoomWithoutSession" room.name %}"><i class="fas fa-plus"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'update_view_with_pk' room.id %}" data-toggle="tooltip"
                            title="Redigere klasserum" data-placement="bottom"><i class="fas fa-pen"></i></a>
                        </td>
                        <td><a href="{% url 'delete_view_with_pk' room.id %}" data-toggle="tooltip"
                            title="Slet klasserum" data-placement="bottom"><i class="fas fa-trash"></i></a></td>

                    </tr>
                    {% empty %}
                    <p>Der er ikke oprettet nogle klasserum endnu - vil du oprette et klasserum?</p>
                           <p>**TODO knap til opret klasserum</p>
                          <!-- <button class="btn btn-primary" type="button" href="{% url 'create_room' %}">Ja tak</button> -->
                   {% endfor %}
            </table>
        </div>
    </div>



{% endblock %}
