{% extends "otree/admin/Session.html" %}

{% block content %}
{{ block.super }}
<div style="overflow: auto">
<table class="header-fixed table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th rowspan="3" class="text-center">Player label</th>
        {% for header, colspan in subsession_headers %}
            <th colspan="{{ colspan }}" class="text-center">{{ header }}</th>
        {% endfor %}
    </tr>
        {% for header, colspan in model_headers %}
            <th colspan="{{ colspan }}" class="text-center">{{ header }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for header in field_headers %}
            <th class="text-center">{{ header }}</th>
        {% endfor %}
    </tr>
</thead>
    {% for row in rows %}
        <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
