{% extends "otree/BaseBuiltIn.html" %}
{% load otree_tags floppyforms %}

{% block title %}
    Session Home
{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{% url 'session_results' session.pk %}">Results</a></li>
        <li role="presentation"><a href="{% url 'session_monitor' session.pk %}">Monitor</a></li>
        <li role="presentation"><a href="{% url 'session_edit' session.pk %}">Edit properties</a></li>
        <li role="presentation"><a href="{% url 'session_payments' session.pk %}">Payments</a></li>
        <li role="presentation"><a href="{% url 'session_start_links' session.pk %}">Start Links</a></li>
    </ul>

{% endblock %}
