{% extends "otree/BaseBuiltIn.html" %}
{% load otree_tags floppyforms %}

{% block head_content %}
{{ block.super }}
<!--bootstrap popover launch-->
<script type="text/javascript" charset="utf-8">
$(function () {
    $('[data-toggle="popover"]').popover()
})
</script>
<!--end bootstrap popover launch-->
<!--setup for fixed header of table-->
<style>
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}
</style>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
var $table = $('table.header-fixed');
$table.floatThead();
});
</script>
<!--end setup for fixed header of table-->
{% endblock %}

{% block title %}
Dashboard for session
{% if other_sessions and not is_demo %}
<span class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
        {{ session.code }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for s in other_sessions %}
        <li><a href="{% url 'session_description' s.pk %}">{{ s.code }}</a></li>
        {% endfor %}
    </ul>
</span>
{% else %}
<code>{{ session.code }}</code>
{% endif %}
{% if is_demo %}
(demo)
{% endif %}
{% endblock %}


{% block content %}
{% include 'otree/TopMenu.html' %}
<nav class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="{% active_page request 'session_description' %}">
        <a href="{% url 'session_description' session.pk %}"><span class="glyphicon glyphicon-home"></span> Description</a>
        </li>
        <li role="presentation" class="{% active_page request 'session_edit' %}">
        <a href="{% url 'session_edit' session.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
        </li>
        <li role="presentation" class="{% active_page request 'session_monitor' %}">
        <a href="{% url 'session_monitor' session.pk %}"><span class="glyphicon glyphicon-eye-open"></span> Monitor</a>
        </li>
        <li role="presentation" class="{% active_page request 'session_results' %}">
        <a href="{% url 'session_results' session.pk %}"><span class="glyphicon glyphicon-list-alt"></span> Results</a></li>
        <li role="presentation" class="{% active_page request 'session_payments' %}">
        <a href="{% url 'session_payments' session.pk %}"><span class="glyphicon glyphicon-usd"></span> Payments</a>
        </li>
        <li role="presentation" class="{% active_page request 'session_start_links' %}">
        <a href="{% url 'session_start_links' session.pk %}"><span class="glyphicon glyphicon-link"></span> Links</a>
        </li>
        {% if is_demo %}
        <li role="presentation">
        <a href="{% url 'create_demo_session' session.session_type_name %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Recreate session from scratch">
            <span class="glyphicon glyphicon-refresh"></span> Reload
        </a>
        </li>
        {% endif %}
      </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
