{% extends "otree/BaseSite.html" %}
{% load otree_tags floppyforms %}

{% block title %}
Dashboard for session
<code>{{ session.code }}</code>
{% if session.is_demo %}
    (demo)
{% endif %}
{% endblock %}
{% block menus %}
<nav class="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="{% active_page request 'session_description' session.pk %}">
                <a href="{% url 'session_description' session.pk %}"><span class="glyphicon glyphicon-pushpin"></span> Description</a>
                </li>
                <li role="presentation" class="{% active_page request 'session_start_links' session.pk %}">
                <a href="{% url 'session_start_links' session.pk %}"><span class="glyphicon glyphicon-link"></span> Links</a>
                </li>
                <li role="presentation" class="{% active_page request 'session_edit' session.pk %}">
                <a href="{% url 'session_edit' session.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
                </li>
                <li role="presentation" class="{% active_page request 'session_monitor' session.pk %}">
                <a href="{% url 'session_monitor' session.pk %}"><span class="glyphicon glyphicon-eye-open"></span> Monitor</a>
                </li>
                <li role="presentation" class="{% active_page request 'session_results' session.pk %}">
                <a href="{% url 'session_results' session.pk %}"><span class="glyphicon glyphicon-list-alt"></span> Results</a></li>
                <li role="presentation" class="{% active_page request 'session_payments' session.pk %}">
                <a href="{% url 'session_payments' session.pk %}"><span class="glyphicon glyphicon-usd"></span> Payments</a>
                </li>
                {% if session.is_demo %}
                <li role="presentation">
                <a href="{% url 'create_demo_session' session.session_type.name %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Recreate session from scratch">
                    <span class="glyphicon glyphicon-refresh"></span> Reload
                </a>
                </li>
                {% endif %}
                {% if session.is_for_mturk %}
                <li role="presentation" class="{% active_page request 'session_create_hit' session.pk %}">
                <a href="{% url 'session_create_hit' session.pk %}"><span class="glyphicon glyphicon-cloud"></span> MTurk</a>
                </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}
