{% extends "otree/admin/Session.html" %}

{% block content %}
{{ block.super }}
<div style="overflow: auto">
<table class="header-fixed table table-bordered table-striped table-hover table-condensed">
    <thead>
    <tr>
        {% for column_name in column_names %}
            <th class="text-center">{{ column_name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<br/>
<a href="{% url 'session_advance' session.pk %}" class="btn btn-primary" role="button" data-toggle="popover" data-trigger="hover"
data-content="By clicking this button the slowest user(s)
will be automatically advanced by one page, while the other users
will remain where they are (unless perhaps if they have a waiting page).">
Advance slowest user(s)
</a>
{% include "otree/messages.html" %}
{% endblock %}
