{% extends "otree/admin/Session.html" %}


{% block content %}
{{ block.super }}
    <p>There are several modes to play this session.</p>

    {% if fullscreen_mode_on %}
        <h4>Full screen mode</h4>
        <p>
        To play in full screen mode, <a target="_blank" href="{% url 'session_fullscreen' session.pk %}">click here</a>.
        </p>
    {% endif %}

    <h4>Single-use link mode</h4>

    <p>
        Open each link in its own browser tab.
    </p>

    <p>
    {% for participant_url in participant_urls %}
            <a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a>
            <br/>
    {% endfor %}
    </p>

    <h4>Anonymous mode</h4>
    <p>
        If it is impractical to distribute distinct URLs to each participant,
        you can give the following start URL to all participants:
    </p>

    <p>
    <a target="_blank" href="{{ anonymous_url }}">{{ anonymous_url }}</a>
    </p>

    <p>
        Notes:
    </p>

    <ul>
    <li>Unlike the unique start URLs, anonymous mode does not prevent the same participant from playing twice.
        Therefore, it is not recommended to use this when running real experiments</li>
    <li>At most {{ num_participants }} participants can open this URL.</li>
    <li>If you already clicked the participant links for this session, you cannot use anonymous mode.</li>
    </ul>


    <p>
    To run your experiment in a lab, see the <a href="{% url 'persistent_lab_urls' %}">Persistent URLs</a> page.
    </p>
    <p>


{% endblock %}
