{% extends "otree/admin/Session.html" %}


{% block content %}
{{ block.super }}
    {% if fullscreen_mode_on %}
        <p>
        Try out this session in <a target="_blank" href="{% url 'session_fullscreen' session.pk %}">fullscreen</a> mode.
        </p>
    {% endif %}
    <p>
        Or simply open each link in its own browser tab.
    </p>
    <h4>Participant links:</h4>
    <p>
    {% for participant_url in participant_urls %}
            <a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a>
            <br/>
    {% endfor %}
    </p>
    <p>
    To run your experiment in Lab checkout <a href="{% url 'persistent_lab_urls' %}">Persistent URLs</a> page.
    </p>
    <p>
{% endblock %}
