{% extends "otree/BaseBuiltIn.html" %}

{% block title %}
    {{ display_name }}
{% endblock %}

{% block content %}
    <h3>
        Links
    </h3>

    <p>
        Open all links, each in its own browser tab.
    </p>

    <h4>Participant links</h4>

    {% for participant_url in participant_urls %}
            <a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a>
            <br/>
    {% endfor %}

    <h4>Experimenter link</h4>

    <p>
        <a href="{{ session_monitor_url }}" target="_blank">Monitor participants</a>
    </p>

    <br/>
    <p>
        These are single-use links. To get new start links, refresh this page. This will let you simulate a new set of participants,
        who will be reassigned to match groups.
    </p>

    {% include 'otree/SessionInfo.html' %}

{% endblock %}
