{% extends 'otree/BaseAdmin.html' %}

{% block content %}
    <style>
        body {
            background: #901a1e;
        }
    </style>
    <h1 class="skift-password-title">Skift kodeord</h1>
    <hr>
    <div class="profile-container">
        <form method="post">
            {% csrf_token %}
            <div class="password-container">
                <div class="password-info">
                    <div class="form-group">
                        <p>Gammelt kodeord: </p>
                        {{ form.old_password }}
                    </div>
                    <div class="form-group">
                        <p>Nyt kodeord: </p>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-group">
                        <p>Gentag nyt kodeord: </p>
                        {{ form.new_password2 }}
                    </div>


                </div>
                <div class="password-input">



                </div>
            </div>

            <div class="password-vejledning">
                <p class="password-vejledning-title"><b>Vejledning</b></p>
                <ul>
                    <li>Dit koderd må ikke indeholde personlige informationer</li>
                    <li>Skal være på mindst 8 tegn</li>
                    <li>Må ikke være et ofte anvendt kodeord</li>
                    <li>Ikke må bestå af kun tal</li>
                </ul>
            </div>
            <br>
            <div class="change-password-container">
                <button class="btn" id="generel-btn" type="submit">Skift kodeord</button>
            </div>
        </form>
    </div>
    <br>
{% endblock %}