{% extends 'otree/BaseAdmin.html' %}

{% block content %}
    <style>
        body {
            background: #901a1e;
        }
    </style>
    <div class="change-password-container">
        <div class="change-password-form-container">
            <div class="div content-container">
                <h4 class="change-password-title">Skift kodeord</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-label">
                            <i class="fas fa-key"></i>
                            <label for="id_old_password">Gammelt kodeord:</label>
                        </div>
                        <div class="form-input">
                            <input id="id_old_password" class="form-control" type="password" name="old_password" autofocus required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label">
                            <i class="fas fa-key"></i>
                            <label for="id_password1">Nyt kodeord:</label>
                        </div>
                        <div class="form-input">
                            <input id="id_password1" class="form-control" type="password" name="password1" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label">
                            <i class="fas fa-key"></i>
                            <label for="id_password2">Gentag nyt kodeord:</label>
                        </div>
                        <div class="form-input">
                            <input id="id_password2" class="form-control" type="password" name="password2" required>
                        </div>
                    </div>
                    <button id="btn-change-password" type="submit">Skift Kodeord</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}