{% extends "otree/BaseAdmin.html" %}
{% load i18n otree otree_internal %}
{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
    <style>
        body {
            background: #901a1e;
        }
    </style>
    <br><br>
    <div class="register-container">
        <div class="register-form-container">
            <div class="content-container">
                <h4 class="register-title">Opret Bruger</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-label">
                            <i class="fas fa-envelope"></i>
                            <label for="id_email">Email:</label>
                        </div>
                        <div class="form-input">
                            <input id="id_email" class="form-control" type="email" name="email" autofocus required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label">
                            <i class="fas fa-key"></i>
                            <label for="id_password1">Kodeord:</label>
                        </div>
                        <div class="form-input">
                            <input id="id_password1" class="form-control" type="password" name="password1" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label">
                            <i class="fas fa-key"></i>
                            <label for="id_password2">Gentag kodeord:</label>
                        </div>
                        <div class="form-input">
                            <input id="id_password2" class="form-control" type="password" name="password2" required>
                        </div>
                    </div>
                    <button id="btn-register" type="submit">Opret Bruger</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}