{% extends 'otree/BaseAdmin.html' %}
{% block content %}
    <style>
        body {
            background: #901a1e;
        }
    </style>
    <div class="reset-password-container">
        <div class="reset-password-form-container">
            <div class="content-container">
                <h4 class="reset-password-title">Nulstil kodeord</h4>
                <p class="reset-password-desc">
                    <b>Har du glemt dit password? </b>
                    Ingen problem. Indtast forneden din email, derefter vil du modtage en email med et link som du kan
                    resette dit password med.
                </p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-label">
                            <i class="fas fa-envelope"></i>
                            <label for="id_email" class="col-form-label">Email</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="controls field-username form-input">
                            <input id="id_email" type="email" class="form-control" maxlength="254" name="email"
                                   required="">
                            <button id="btn-password-reset" type="submit" class="btn btn-secondary">Send email</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}