{% extends "otree/BaseAdmin.html" %}
{% load i18n otree otree_internal %}
{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
    <style>
        body {
            background: #901a1e;
            margin-top: 7.5%;
        }
    </style>
    <div class="container text-white">
        <h1>Indtast dit nye kodeord</h1>
        <p>

        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary" type="submit">Reset password</button>
        </form>
    </div>
{% endblock %}