{% extends "otree/BaseAdmin.html" %}
{% load i18n otree otree_internal %}
{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
    <style>
        body {
            background: #901a1e;
        }
    </style>
    <div class="reset-password-done-container">
        <div class="content-container">
            <h4 class="reset-password-done-title">Skift kodeord afsendt</h4>
            <p class="reset-password-done-desc">
                Vi har sendt dig en email med et link så du kan skifte dit kodeord, hvis din konto eksisterer med den
                indtastede email.
                Du modtager den snart.

                Hvis du ikke modtager en email, så tjek om du har indtastet din email adresse rigtigt og tjek din spam
                mappe.
            </p>
        </div>

    </div>
{% endblock %}