/* Error: expected "}".
 *     ,
 * 615 | }
 *     |  ^
 *     '
 *   media-queries\_mobile.scss 615:2  @import
 *   styles.scss 9:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 615 \2502  }\a     \2502   ^\a     \2575 \a   media-queries\\_mobile.scss 615:2  @import\a   styles.scss 9:9                   root stylesheet';
}
