{% extends "Base.html" %}
{% load ptreefilters %}
{% load i18n %}
{% load static %}
{% block title %}Task complete{% endblock %}
{% block content %}

<div class="alert alert-success">
    <strong>Success!</strong> You have completed the task.
</div>

<p>
You have made {{ base_pay|currency }} for participating. 
</p>

{% block bonus_explanation %}
    <p>
    {% if bonus == None %}
        You may receive an additional bonus.
    {% else %}
        As a result of the task, you made an additional bonus of {{ bonus|currency }}.
        So, your total reward is {{ total_pay|currency }}.
    {% endif %}
    </p>
{% endblock %}

{% if next_experiment_available %}
    {% include "ptree/Form.html" %}
{% else %}

{% block redeem_instructions %}
    <p>
    Use the below redemption code to redeem this reward.
    </p>
{% endblock %}

<div class="panel panel-primary" >
  <div class="panel-heading">
    <h3 class="panel-title">Redemption code</h3>
  </div>
  <div class="panel-body">
    <strong>{{ redemption_code }}</strong>
  </div>
</div>

{% endif %}

{% endblock %}