{% load i18n admin_static %}
{% load ptree_dashboard %}
    <div class="app-{{ app.app_label }} module">
            <table>
            <caption>
                {% if app.dont_link_app_name %}
                    {% blocktrans with name=app.name|app_name_format %}{{ name }}{% endblocktrans %}
                {% else %}
                <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                    {% blocktrans with name=app.name|app_name_format %}{{ name }}{% endblocktrans %}
                </a>
                {% endif %}
            </caption>
            {% for model in app_models %}
                <tr class="model-{{ model.object_name|lower }}">
                {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                    <th scope="row">{{ model.name }}</th>
                {% endif %}

                {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.admin_url %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
        </div>

