{% extends "Base.html" %}
{% load ptreefilters %}
{% block title %}Payments{% endblock %}
{% block content %}

<h3>Experiment</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ experiment_name }}</td>
    </tr>
    <tr>
        <th>Code</th>
        <td>{{ experiment_code }}</td>
    </tr>
</table>

<h3>Participants</h3>
<table class="table table-striped">
    <tr>
        <th>Code</th>
        <th>External ID</th>
        <th>Base pay</th>
        <th>Bonus</th>
        <th>Total pay</th>
        <th>Notes</th>
    </tr>

    {% for p in participants %}
    <tr>
        <td>{{ p.code }}</td>
        <td>{{ p.external_id }}</td>
        <td>{{ p.base_pay_display }}</td>
        <td>{{ p.bonus_display }}</td>
        <td><strong>{{ p.total_pay_display }}</strong></td>
        <td></td>
    </tr>
    {% endfor %}

    <tr class="success">
        <th>Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ total_payments|currency }}</th>
        <th></th>
    </tr>

</table>

{% endblock %}