{% extends "Base.html" %}
{% load ptreefilters %}
{% block title %}pTree Payments{% endblock %}
{% block content %}

<p>
    <strong>{% now "DATE_FORMAT" %}</strong>
</p>


<h3>Sequence of experiments</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ sequence_of_experiments_name|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Code</th>
        <td style="font-family: 'Courier New'">{{ sequence_of_experiments_code }}</td>
    </tr>
</table>

<h3>Participants</h3>
<table class="table table-striped">
    <tr>
        <th>External ID</th>
        <th>Total pay</th>
        <th>Notes</th>
    </tr>

    {% for p in participants %}
    <tr>
        <td style="font-family: 'Courier New'">{{ p.external_id }}</td>
        <td>{{ p.total_pay|currency }}</td>
        <td></td>
    </tr>
    {% endfor %}

    <tr class="success">
        <th>Total</th>
        <th>{{ total_payments|currency }}</th>
        <th></th>
    </tr>

</table>

<h3>Notes/Signature</h3>
<div class="well well-lg">
    <br/>
    <br/>
    <br/>
</div>

{% endblock %}