{% extends "Base.html" %}
{% load ptreefilters %}
{% block title %}Payments{% endblock %}
{% block content %}

<h2>Experiment</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <td>{{ experiment_id }}</td>
    </tr>
    <tr>
        <th>Code</th>
        <td>{{ experiment_code }}</td>
    </tr>
</table>

<h2>Participants</h2>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Base bay</th>
        <th>Bonus</th>
        <th>Total pay</th>
        <th>Notes</th>
    </tr>

    {% for p in participants %}
        <td>{{ p.pk }}</td>
        <td>{{ p.code }}</td>
        <td>{{ p.treatment.base_pay }}</td>
        <td>{{ p.bonus_display }}</td>
        <td>{{ p.total_pay_display }}</td>
        <td></td>
    {% endfor %}

    <tr class="success">
        <th>Totals</th>
        <th></th>
        <th>{{ total_base_pays|currency }}</th>
        <th>{{ total_bonuses|currency }}</th>
        <th>{{ total_payments|currency }}</th>
        <th></th>
    </tr>

</table>

{% endblock %}