@media (min-width: 1024px) {
/*******************************
*  Hide otree default message  *
********************************/

.otree-timer {
  display: none
}

.otree-title {
  display: none
}

/******************************
*   Play.html info styling    *
*******************************/

.round-info {
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;

  h3 {
    font-weight: bold;
  }
}

 .round-title {
    font-family: "Patrick Hand", cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url("../../../../../../static/otree/media/Bad_influence_titlekusvg.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 35px 0 35px 0;
    color: white;
  }

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  width: 90%;
  background-color: white;
  padding-top: 40px;
}

.round-introduction {
  font-family: "Patrick Hand", cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}


/*****************************
*   Play.html svg styling    *
*******************************/
.answer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 300px;
    width: 100%;


}

#timer-text {
  top: 0;
  left: 8px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-family: "Patrick Hand", cursive;

  #timer {
    padding-left: 5px;
  }
}


.game-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 2%;
}

.svg-column {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 50%;
  margin-left: 5%;
  padding-right: 20px;
  margin-bottom: 5%;
  border-color: $ku-red;
  border-radius: 2px;
  border-style: solid solid solid solid;
}

/*********************************
*   Play.html timer styling     *
*********************************/
.flash {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {
        color: red;
    }
    to {
        color: black;
    }
}

/***********************************
*   Play.html chat+svg container  *
***********************************/
.surround {
  width: 100%;
}

/*********************************
*   Play.html chat styling      *
*********************************/
#chat {
    height: 250px;
    scroll-behavior: smooth;
    background: #ebeded;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}

#chat::-webkit-scrollbar {
    width: 1em;
}

#chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.chat-message {
    display: flex;
}

.chat-message b {
    padding: 0 10px 0 0;
}

#chat-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Patrick Hand", cursive;
  width: 50%;
  align-items: center;
  margin-bottom: 5%;

}
 .chat-title {
   justify-content: center;
  display: flex;
  font-size: 50px;
   width: 100%;
}

.chat, .message {
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 20px;

  #chat {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 2%;
    width: 80%;
  }

  #message {
    font-size: 20px;
    max-width: 50%;
  }
}

.send {
  width: 100%;
  font-size: 20px;
  border: none;
  justify-content: center;
  display: flex;

  #send {
    width: 50%;
    height: 50px;
    background-color: $ku-red;
    font-size: 20px;
    border-color: transparent;


  &:hover {
    background-color: $ku-dark-green;

  }
}

}
/*********************************
*   Play.html button styling    *
*********************************/


.choice-button-holder {
  justify-content: center;
  display: flex;


}

.choice-button {
  width: 235px;
  height: 70px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: "Annie Use Your Telescope", serif;
  background-color: transparent;
  border: 2px solid $ku-red;
  margin-bottom: 10%;
  margin-left: 5%;


   &:hover {
      background-color: $ku-dark-green;
      color: white;
      border-color: transparent;

  }
  &:active {
      background-color: $ku-dark-green;
      color: white;

  }

  &:focus {
    border-color: $ku-dark-green;
    background-color: $ku-dark-green;
    color: white;
  }

  img {
    width: 55px;
    height: 55px;
  }
}

/*********************************
*   Results.html table styling   *
*********************************/

.results-title {
  font-size: 35px;
  display: flex;
  justify-content: center;
  color: $ku-red;
  padding-top: 20px;
  font-weight: bold;

}
.results-container {
  margin-top: 4%;

  .report-info {
    padding-bottom: 30px;
  }
}

.game-results-table {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
    background-color: white;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: $ku-red;
    font-size: 20px;

}


  .d3-results-row {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 14px;
      font-family: "Roboto Slab", serif;

        #d3consensus {
          display: flex;
          justify-content: center;
        }

        #d3playback {
          display: none;
        }
    }

.game-results {
    margin-top: 2%;
    padding: 10px 50px 10px 50px;
    background-color: white !important;
    border-radius: 10px;
}

/*************************************
*   Intro1.html.html table styling   *
**************************************/

.start-game {

    }


$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;





.intro-title {
    body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: $bg;
  }

    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    height: 60vh;
    background-color: transparent;
    width: 100%;
     font-family: "Patrick Hand", cursive;

      .bad {
          justify-content: center;
          font-weight: bold;
          font-size: 100px;
          text-align: center;
          letter-spacing: 20px;
          color: darkred;
          text-transform: uppercase;
          margin: 0;
          padding:0;
      }

      .influence {
          font-weight: bold;
          font-size: 70px;
          text-align: center;
          color: darkred;
          text-transform: uppercase;
          margin: -55px;
          padding:0;
          letter-spacing: 7px;
      }

      button {
          position: relative;
          display: inline-block;
          cursor: pointer;
          outline: none;
          border: 0;
          vertical-align: middle;
          text-decoration: none;
          font-size: 20px;
          width: 22%;
          margin-top: 40px;

  &.start-game {
    font-weight: 600;
    color: #901A1E;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: 'Start spil';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}
      }


}


