@media (min-width: 0px) {

/*************************
*       xx.html      *
*************************/
#ButtonsHolder {
  display: flex;
  justify-content: space-around;
  }

  body {
    font-size: 12px;
  }
}