{% extends "otree/BaseAdmin.html" %}

{% block title %}
   KU-læringsspil
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3 card bg-light">
        <div class="card-body">
                <div>
                 <h3>   Velkommen</h3>
                    <p>Vælg et spil</p>
                </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="list-group">
        {% for game in session_info %}
            <a href="{{ game.url }}" class="list-group-item session-config" target="_blank">
                {{ game.display_name }}
            </a>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

