{% extends "otree/BaseParticipant.html" %}
{% load staticfiles %}

{% block internal_scripts %}
    {{ block.super }}
    <!-- this is an HTML file rather than JavaScript static file because context variables need to be passed to it -->
<script type="text/javascript">
$(document).ready(function () {

    {% comment %}
    One user reported that with a 588 bot session,
    web socket for auto-advance adds 4s to each page load.
    {% endcomment %}
    {% if session.pages_auto_reload_when_advanced %}
    var socket;

    function initWebSocket() {
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "{{ view.socket_url|safe }}";

        socket = new ReconnectingWebSocket(ws_path);
        socket.onmessage = function(e) {
            var data = JSON.parse(e.data);

            if (data.error) {
                $("#error-notice").show();
                return;
            }

            if (data.auto_advanced) {
                console.log('Received redirect message', e.data);
                window.location.href = '{{ view.redirect_url|safe }}';
            }
        };
    }

    initWebSocket();
    {% endif %}

    {% if session.use_browser_bots %}
        {# submit the form instantly #}
        {# below comment is used as a flag #}
        // browser-bot-auto-submit
        $('#form').submit();
    {% endif %}

});

</script>

{% endblock %}
