{% extends "otree/BaseAdmin.html" %}
{% load static %}



{% block content %}
<div class="title-container">
    <h1 class="games-title">KU-LÆRINGSSPIL</h1>
<p class="sub-games-title">Udfordrende og sjove multiplayer læringsspil </p>
</div>


<div class="card" style="margin-bottom: 30px;">
  <h2 class="card-header"><b>Bad Influence</b></h2>
    <div class="card-body">
    <p><b>Bad Influence</b> er et multiplayer spil.
    Hver spiller har et “netværk” af venner/medspillere.
    Hver spille kan kun se og kommunikere med sit eget netværk.
    Spillet vil gennemgå en række scenarier hvor hver spiller skal vælge mellem to muligheder.
    Målet er at ens netværk skal være i konsensus med hinanden før tiden udløber, dette skal ske ved at chatte sammen i spillet.  </p>
    <p style="font-size: 11px; margin-bottom: 0; ">*Spil varighed: 20min</p>
    <p style="font-size: 11px; margin-bottom: 0; ">*Minimum 4 spillere</p>
</div>
 <div class="card-footer">
         <form action="{% url 'CreateSessionBadInfluence' %}">
             <button class="btn btn-primary" >
                 Opret spil
             </button>
     </form>
 </div>

</div>

<div class="card">
    <h2 class="card-header"><b>Day Trader</b></h2>
    <div class="card-body">
        <p >Day Trader er et multiplayerlæringsspil omkring hvordan bobler kan opstå i finansverdenen. I dette spil er et firma repræsenteret af en sæk med glade og ikke glade medarbejdere(ansigter). Hver spiller skal gætte om firmaet er bestående af primært ”glade” eller ”ikke glade” omstændigheder, ud fra den information spillerne får i spillet. </p>
        <p style="font-size: 11px; margin-bottom: 0; ">*Spil varighed: ?</p>
        <p style="font-size: 11px; margin-bottom: 0; ">*Minimum 3 spillere</p>
    </div>
    <div class="card-footer">
        <form action="{% url 'CreateSessionDayTrader' %}">
            <button class="btn btn-primary">
                Opret spil
            </button>

        </form>
    </div>
</div>
{% include "otree/includes/messages.html" %}
{% endblock %}