{% extends "otree/BaseAdmin.html" %}
{% load static %}

{% block styles %}
    <style>
        body {
            background-image: url("../../static/main_platform/otree/media/frontpage-background.jpg");
            background-repeat: no-repeat;
            background-size: 100%, 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.is_staff or user.is_superuser %}

    {% elif user.is_authenticated and user.is_active %}
        <div class="games-container">
            <div class="title-container">
                <h1 class="games-title">Multiplayer Dude</h1>
            </div>
            <div class="align-games">
                <div class="card">
                    <header class="card-header">Bad Influence</header>
                    <div class="card-body">
                        <div class="body-row">
                            <img src="/static/main_platform/otree/media/bad-influence-network.gif" alt="venne-netværk"
                                 class="network-img">
                            <span><b>Bad Influence</b> er et multiplayer afstemningsspil for hele klassen. Spillerne stemmer om ti forskellige spørgsmål og dilemmaer, og skal forsøge at få andre til at vælge det de selv foretrækker.
                    <br>
                    <br>
               <b>Temaer:</b>
                    <br>
                    <i>Sociale normer</i>,
                    <i>Venskabsparadokset</i>,
                    <i>Influencer-kultur</i>,
                    <i>Flertalsillusioner</i>,
                    <i>Sociale netværk</i>.
                </span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="footer-row">
                <span class="game-info">
                <p>*Spillets varighed: 10-12min</p>
                <p>*Debrief: 10-25min</p>
                <p>*15-50 spillere</p>
            </span>
                            <form action="{% url 'create_room' %}">
                                <button class="btn btn-primary">
                                    Opret klasserum
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <header class="card-header">Daytrader</header>
                    <div class="card-body">
                        <div class="body-row">
                            <img src="/static/main_platform/otree/media/sack-images/sack-questionmark.svg"
                                 alt="firma-ansigter" class="sack-img">
                            <span><b>Daytrader</b> er et spil om hvordan bobler kan opstå i finansverdenen. Spillerne er
                                <b><i>’daytraders’</i></b> på en fiktiv børs, og handler
                    med aktier i en række fiktive firmaer, samtidig med at de får indblik i firmaernes virkelig tilstand.
                    <br>
                    <br>
                    <i>Spørgsmålet er dog:</i>
                    <br>
                    Vil spillerne lytte til deres private information, eller vil de hellere gøre hvad de andre daytradere gør?
                    <br>
                    <br>
                     <b>Temaer:</b>
                    <br>
                    <i>Informationskaskader</i>,
                    <i>Ekkokamre</i>,
                    <i>Børshandel</i>,
                    <i>Lemminge-effekter</i>,
                    <i>Bobler</i>.

                </span>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="footer-row">
                <span class="game-info">
                <p>*Spillets varighed: 10-15min</p>
                <p>*Debrief: 10-15min</p>
                <p>*10-50 spillere</p>
            </span>
                            <form action="{% url 'CreateSessionDayTrader' %}">
                                <button class="btn btn-primary">
                                    Opret klasserum
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="title-container">
            <h1 class="games-title">Multiplayer Dude</h1>
        </div>

        <div class="welcome-container">
            <div class="card">
                <header class="card-header">Velkommen til Multiplayer Dude</header>
                <div class="card-body">
                    <div class="body-row">
                        <p>Multiplayer Dude er en platform hvor du kan oprette spil og spille dem med din gruppe.
                            Længere nede på denne side kan du læse hvilke spil du har mulighed for at spille og hvad
                            de
                            omhandler.</p>
                        <br>
                        <br>
                        <b>Hvordan kommer jeg igang?</b>
                        <p>For at spille på platformen, skal du først og fremst oprette en bruger, ved at trykke på
                            knappe, <b>“opret bruger”</b>. Når du har oprettet en bruger skal du blot logge ind, og
                            derefter
                            kan du oprette og spille lige præcis de spil du ønsker.</p>
                        <br>
                        <br>
                        <div class="form-container">

                            <b>God fornøjelse!</b>
                            <form action="{% url 'register' %}">
                                <button class="btn btn-primary">
                                    Opret bruger
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="align-games">
            <div class="card">
                <header class="card-header">Bad Influence</header>
                <div class="card-body">
                    <div class="body-row">
                        <img src="/static/main_platform/otree/media/bad-influence-network.gif" alt="venne-netværk"
                             class="network-img">
                        <span><b>Bad Influence</b> er et multiplayer afstemningsspil for hele klassen. Spillerne stemmer om ti forskellige spørgsmål og dilemmaer, og skal forsøge at få andre til at vælge det de selv foretrækker.
                    <br>
                    <br>
               <b>Temaer:</b>
                    <br>
                    <i>Sociale normer</i>,
                    <i>Venskabsparadokset</i>,
                    <i>Influencer-kultur</i>,
                    <i>Flertalsillusioner</i>,
                    <i>Sociale netværk</i>.
                </span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="footer-row">
                <span class="game-info">
                <p>*Spillets varighed: 10-12min</p>
                <p>*Debrief: 10-25min</p>
                <p>*15-50 spillere</p>
            </span>
                    </div>
                </div>
            </div>


            <div class="card">
                <header class="card-header">Daytrader</header>
                <div class="card-body">
                    <div class="body-row">
                        <img src="/static/main_platform/otree/media/sack-images/sack-questionmark.svg"
                             alt="firma-ansigter" class="sack-img">
                        <span><b>Daytrader</b> er et spil om hvordan bobler kan opstå i finansverdenen. Spillerne er <b><i>’daytraders’</i></b> på en fiktiv børs, og handler
                    med aktier i en række fiktive firmaer, samtidig med at de får indblik i firmaernes virkelig tilstand.
                    <br>
                    <br>
                    <i>Spørgsmålet er dog:</i>
                    <br>
                    Vil spillerne lytte til deres private information, eller vil de hellere gøre hvad de andre daytradere gør?
                    <br>
                    <br>
                     <b>Temaer:</b>
                    <br>
                    <i>Informationskaskader</i>,
                    <i>Ekkokamre</i>,
                    <i>Børshandel</i>,
                    <i>Lemminge-effekter</i>,
                    <i>Bobler</i>.

                </span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="footer-row">
                <span class="game-info">
                <p>*Spillets varighed: 10-15min</p>
                <p>*Debrief: 10-15min</p>
                <p>*10-50 spillere</p>
            </span>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include "otree/includes/messages.html" %}
{% endblock %}