{% extends "otree/Base.html" %}
{% load i18n otree_tags %}

{% block content_main %}
<div style="width:80%; margin:0 auto;">
<h2>{% block title %}Welcome{% endblock %}</h2>

<form method="get">
    <label for="participant_label">Please enter your participant label:</label>
    <br/>
    <input type="text" id="participant_label" name="participant_label" />
    <br/>
    {% if uses_pin %}
    <label for="pin">Please enter the session PIN code:</label>
    <br/>
    <input type="text" id="pin" name="pin" />
    <br/>
    {% endif %}
    <br/>
    {% next_button %}
</form>
</div>
{% endblock %}