{% extends "otree/Session.html" %}


{% block content %}
  {{ super() }}

  {% if use_browser_bots %}
    <div class="alert alert-info" role="alert">
      <p>
        Links will play automatically with browser bots.
        (because the session config has <code>use_browser_bots=True</code>).
      </p>
    </div>
  {% endif %}

  {% if is_defined('room') %}

    <div class="alert alert-info">
      <p>
        This session is taking place in the room
        {# apply underline because alert-info makes blue link on blue background invisible #}
        <a style="text-decoration: underline"
           href="{% url "RoomWithoutSession" room.name %}">{{ room.display_name }}</a>.
      </p>
    </div>

    {% include "otree/includes/RoomParticipantLinks.html" %}

    {# otherwise, if a participant closes their browser, there is no way for them to resume playing. #}
    {% if not room.has_participant_labels %}
      <h4>Single-use links</h4>

      <p>
        Below are single-use links for this session only.
        You can use these in the event that you need to open (or re-open) a specific
        participant's link.
      </p>

      <details>
        <summary>Show/Hide</summary>
        <table class="table">
          {% for participant_url in participant_urls %}
            <tr>
              <td><strong>P{{ forloop.counter }}</strong></td>
              <td><a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </details>

    {% endif %}

  {% elif session.is_demo %}

    <br>
    <p><i>
      Below are temporary links for testing and demonstration.
      To launch a real study, either create persistent links by setting up a <a href="{% url 'Rooms' %}">room</a>,
      or create a session through the <a href="{% url 'Sessions' %}">sessions page</a>.
    </i>
    </p>

    <p><i>
      You can either open
      {% if splitscreen_mode_on %} split-screen mode, {% endif %}
      the session-wide link, or the single-use links.
    </i></p>
    <br>

    {% if splitscreen_mode_on %}
      <h4>Split screen mode</h4>
      <p>
        <a target="_blank" href="{% url 'SessionSplitScreen' session.code %}">Play in split screen mode</a>.
      </p>
    {% endif %}

    <h4>Session-wide demo link</h4>
    <p>
      Open the below link in up to <strong>{{ num_participants }}</strong> browser tabs.
    </p>

    <p><a target="_blank" href="{{ anonymous_url }}">{{ anonymous_url }}</a></p>

    <h4>Single-use links</h4>

    <p>Open each link in its own browser tab.</p>

    <table class="table">
      {% for participant_url in participant_urls %}
        <tr>
          <td><strong>P{{ forloop.counter }}</strong></td>
          <td><a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a></td>
        </tr>
      {% endfor %}
    </table>

  {% else %}

    <p>
      You can either use the session-wide link, persistent links,
      or single-use links.
    </p>

    <h4>Session-wide link</h4>

    <p>
      During testing,
      you can open this link in up to {{ num_participants }} tabs.
    </p>

    <p><a target="_blank" href="{{ anonymous_url }}">{{ anonymous_url }}</a></p>

    <h4>Persistent links</h4>

    <p>
      For a real session, you should use a <a href="{% url 'Rooms' %}">room</a>.
    </p>

    <h4>Single-use links</h4>

    <p>
      Below are single-use links, which you can distribute to your participants.
      Each link has a unique code for the participant.
    </p>

    <table class="table">
      {% for participant_url in participant_urls %}
        <tr>
          <td><strong>P{{ forloop.counter }}</strong></td>
          <td><a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a></td>
        </tr>
      {% endfor %}
    </table>


  {% endif %}
{% endblock %}
