<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div style="padding-left:100px">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'admin_home' %}"><h4>Admin</h4></a></li>
                <li><a href="{% url 'demo_index' %}"><h4>Demo</h4></a></li>
                <li><a href="{% url 'mturk_info' %}"><h4>AMT</h4></a></li>
                <li><a href="{% url 'persistent_lab_urls' %}"><h4>Persistent URLs</h4></a></li>
            </ul>
        </div>
    </div>
</nav>
