@media (min-width: 375px) {

/*************************
*       Base.html        *
*************************/
.top-left-fixed-alert {
  visbility: hidden;
}

/**************************************
*  Main container  - BaseAdmin.html  *
**************************************/
.container {
   max-width: 100%;

  .page-header {
      padding-top: 40px;
  }
}

/******************************
*  Front Page  - games.html  *
******************************/

.background-frontpage {
  background-image: url("../../media/background-ku-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title-container {
  margin-bottom: 5%;
}

.games-title {
  color: white;
  font-weight: bold;
  font-family: 'Catamaran', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-top: 7%;
  margin-bottom: 0;
}

.sub-games-title {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.align-games {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .card {
    margin-bottom: 30px;
    width: 90%;
    border-color: $ku-red;
    border-style: solid;
    border-width: 3px;
  }


  .card-header,
  .card-footer {
    color: $ku-red;
    border: none;
    background-color: white;
    font-size: 20px;
  }

  .card-body {
    color: $ku-red;

      .body-row {
        flex-direction: row;
        display: flex;

        span {
          font-size: 14px;
        }
      }

      }

  .games-image {
      width: 80px;
      height: 80px;
      display: none;
  }

   .card-footer {

     .footer-row {
       display: flex;
       justify-content: center;
       flex-direction: column;

     }

    .btn-primary {
      background-color: $ku-red;
      border-color: $ku-red;
      width: 100%;
    }
    .game-info {
      padding-bottom: 20px;
      font-size: 11px;


      p {
        margin-bottom: 0;
      }
  }
}
    }

/******************************
*        Navbar Styling       *
******************************/

.login-button {
  color: white;
  text-decoration: none;
  font-size: 12px;

}

  /**********************************************************
*  Create Game - e.g. CreateSessionFormBadInfluence.html  *
***********************************************************/

.create-game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;


  .card {
    margin-bottom: 30px;
    width: 90%;
    border-color: $ku-red;
    border-style: solid;
    border-width: 3px;


  }

  .card-header {
    padding-bottom:0;
    display: flex;
   justify-content: center;

  }

  .card-header,
  .card-footer {
    color: $ku-red;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;
  }

  .card-body {
    color: $ku-red;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding-bottom: 0;

  }

  .games-image {
    width: 80px;
    height: 80px;
    display: none;
  }


    .card-footer {
      padding-top: 0;
      display: flex;
      justify-content: center;

      .form-control {
       max-width: 100%;
       margin-bottom: 20px;
        font-size: 14px;
      }
     .footer-row {
       display: flex;
       justify-content: center;
       flex-direction: row;

     }

    .btn-primary {
      background-color: $ku-red;
      border-color: $ku-red;
      width: 100%;

      &:hover {
        background-color: #7C992B;
        border-color: transparent;
      }
    }


  }
  }

}

