@media (min-width: 0px) {

/*************************
*       Base.html        *
*************************/
.top-left-fixed-alert {
  visbility: hidden;
}

/**************************************
*  Main container  - BaseAdmin.html  *
**************************************/
.container {
   max-width: 100%;

  .page-header {
      padding-top: 40px;
  }
}

/******************************
*  Front Page  - games.html  *
******************************/


.title-container {
  margin-bottom: 5%;
}

.games-title {
  color: white;
  font-weight: bold;
  font-family: 'Catamaran', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin-top: 6%;
  margin-bottom: 0;
}

.sub-games-title {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
}

.align-games {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .card {
    margin-bottom: 30px;
    width: 90%;
    border-color: $ku-red;
    border-style: solid;
    border-width: 3px;
    font-family: 'Roboto Slab', serif;
  }

  .card-header {
    padding-bottom:0;
  }

  .card-header,
  .card-footer {
    color: $ku-red;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;
  }

  .card-body {
    color: $ku-red;

      .body-row {
        flex-direction: row;
        display: flex;

        span {
          font-size: 12px;
        }
      }
  }

  .games-image {
    width: 80px;
    height: 80px;
    display: none;
  }

   .card-footer {
      padding-top: 0;
     .footer-row {
       display: flex;
       justify-content: center;
       flex-direction: column;

     }

    .btn-primary {
      background-color: $ku-red;
      border-color: $ku-red;
      width: 100%;

      &:hover {
        background-color: #7C992B;
        border-color: transparent;
      }
    }
    .game-info {
      padding-bottom: 20px;
      font-size: 11px;


      p {
        margin-bottom: 0;
      }
    }
  }
 }


/******************************
*        Navbar Styling       *
******************************/

.login-button {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;

  &:hover {
    text-decoration: none;
    color: #A7C5E9;
  }
}



/**********************************************************
*  Create Game - e.g. CreateSessionFormBadInfluence.html  *
***********************************************************/

.back-button {
  color: $ku-red;
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Roboto Slab', serif;

  &:hover {
    color: #41739D;
  }
}

.create-game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;



  .card {
    margin-bottom: 30px;
    width: 90%;
    border-color: $ku-red;
    border-style: solid;
    border-width: 3px;
    font-family: 'Roboto Slab', serif;
  }

  .card-header {
    padding-bottom:0;
    display: flex;
   justify-content: center;
    padding-top: 0;

  }

  .card-header,
  .card-footer {
    color: $ku-red;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;
  }

  .card-body {
    color: $ku-red;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding-bottom: 0;

  }

  .games-image {
    width: 80px;
    height: 80px;
    display: none;
  }

    .card-footer {
      padding-top: 0;

      .form-control {
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .footer-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
     }

    .btn-primary {
      background-color: $ku-red;
      border-color: $ku-red;
      width: 100%;

      &:hover {
        background-color: #7C992B;
        border-color: transparent;
      }
    }
  }
}


/********************************************************
*  Admin/Teacher panel navigation - CustomSession.html  *
*********************************************************/

#admin-panel {
    margin-top: 3%;

    .nav-tabs {
      border-color: transparent;
    }

    .btn-circle {
      width:180px;
      height: 180px;
      padding: 10px 16px;
      font-size: 30px;
      line-height: 1.33;
      border-radius: 150px;
      background-color: white;
      color: $ku-red;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      font-family: "Annie Use Your Telescope", serif;

      &:hover {
        color: white;
        background-color: #5f861e;


      }
    }
}

  #admin-panel .nav li > a {
	text-transform: capitalize;
	color:  $ku-red;
	transition: background-color .2s, color .2s;

}

#admin-panel .nav li.active > a {
	background-color: transparent;
	color: green;

    .btn-circle {
      background-color: #5f861e;
      color: white;
    }
}

/*********************************************
*  Start link / intro - SessionStartLinks.html  *
**********************************************/

.gamelink-content {
  width: 100%;
  position: relative;
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  padding-top: 3%;
  padding-bottom: 4%;
  font-family: 'Roboto Slab', serif;


  .start-link {
    margin-top: 20px;
    font-size: 30px;
    background-color: white;
    border-radius: 40px;
    padding: 20px 0 20px 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;


    a {
      text-decoration: none;
      color: $ku-red;

      &:hover {
        color: $ku-dark-green;
      }
    }
  }


}

  .frontpage-button-white {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    position: relative;

  &:hover {
    color: #41739D;
    text-decoration: none;
  }
  }

/*********************************************
*  Monitor game progress - SessionMonitor.html  *
**********************************************/
.info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;


  h1 {
    color: white;
  }

  p {
    font-size: 25px;
    color: white;
  }
  .player-table {
    width: 70%;
    background-color: white;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    color: $ku-red;

  th, td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);

}
tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
  }
}
}

/*********************************************
*  Game report page - AdminReport.html  *
**********************************************/
.report-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $ku-red;


   .report-info {
    width: 70%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
     background-color: white;
     border-radius: 10px;
     display: flex;
     justify-content: center;

}

}
  .resultater {
    display: flex;
    justify-content: center;
  }

  .d3-row {
    display: flex;
    flex-direction: row;
  }
}