{% load otree static %}

<h4>Aktiepriser:</h4>
<!--
<embed src="{% static 'daytrader/test.pdf' %}" width="600" height="500"/>
-->
<embed src="{% static 'daytrader/test.png' %}"width="500" height="300"/>

<h4>
  Firmaernes faktisk tilstand:
</h4>

<ul>
  {% for firma in company %}
    <li>
      {{ firma.0 }}
      {% for state in firma.1 %}
        {% if state == 1 %}
          <embed src="{% static 'daytrader/C2glad.png' %}" width="20" height="20"/>
        {% else %}
          <embed src="{% static 'daytrader/C1sad.png' %}" width="20" height="20"/>
        {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>


<H4>
  Kaskader:
</H4>
<p>
  Prøv at se, om der er kaskader i de valg, der blev taget, og om de er korrekte eller forkerte.

<table id="table" border=1>
  <tr>
      <th> firma     </th>
      <th> tilstand  </th>
      {% for r in round_list %}
        <th> {{ r }} </th>
        <!-- <th> {{ forloop.counter }} </th> -->
      {% endfor %}
  </tr>
  {% for navn, tilstand, valg in company %}
      <tr>
      <td> {{ navn }} </td>
      <td>
      {% for state in tilstand %}
        {% if state == 1 %}
          <embed src="{% static 'daytrader/C2glad.png' %}" width="20" height="20"/>
        {% else %}
          <embed src="{% static 'daytrader/C1sad.png' %}" width="20" height="20"/>
        {% endif %}
      {% endfor %}
      </td>
      {% for state in valg %}
        <td>
        {% if state == 1 %}
          <embed src="{% static 'daytrader/C1glad.png' %}" width="20" height="20"/>
        {% else %}
          <embed src="{% static 'daytrader/C2sad.png' %}" width="20" height="20"/>
        {% endif %}
        </td>
      {% endfor %}
      </tr>
  {% endfor %}
</table>
