{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
    {{ player.company_name }}
{% endblock %}

{% block styles %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="daytrader-game-container">
        <div class="content-container">
            <div class="round-introduction">
                <h2 class="daytrader-round-title">{{ player.company_name }}</h2>
            </div>
            <div class="daytrader-sack-button-container">
                <div class="daytrader-sack-buttons">
                    <table>
                        <tr>
                            <td></td>
                            <td id="sack-container-1"><img src="{% static 'daytrader/media/unknown-face-green.png' %}"
                                                           alt="unknown face"
                                                           class="sack-btn"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td id="sack-container-2"><img src="{% static 'daytrader/media/unknown-face-green.png' %}"
                                                           alt="unknown face" class="sack-btn"></td>
                            <td></td>
                            <td id="sack-container-3"><img src="{% static 'daytrader/media/unknown-face-green.png' %}"
                                                           alt="unknown face" class="sack-btn"></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% if subsession.round_number > 1 %}
                <div class="daytrader-round-info">
                <small>(Tryk på et af spørgsmålstegnene i sækken for at se din private info)</small>
                <p>
                    Nu er du trader nummer {{ player.round_number }} og du skal nu handle aktier i firmaet
                    <b>'{{ player.company_name }}'. </b></p>
            {% else %}
                 <div class="daytrader-round-info">
                 <small>(Tryk på et af spørgsmålstegnene i sækken for at se din private info)</small>
                <p>
                    Du skal handle aktier i 10 runde i 10 forskellige firmaer.
                    Det er første runde, og du er den første trader i dag.
                    Du skal handle aktier i firmaet
                    <b>'{{ player.company_name }}'.</b> </p>
                  <div>
            {% endif %}

            {% if subsession.round_number > 1 %}

                <table class="table daytrader-table">
                    <tr class="table-corners">
                        <th class="daytrader-table-header border-corner-left">trader</th>
                        <th class="daytrader-table-header">pris</th>
                        <th class="daytrader-table-header">private info</th>
                        <th class="daytrader-table-header border-corner-right">handel</th>
                    </tr>
                    {% for r, price, choice, deals, states in data %}
                        <tr class="daytrader-table-row">
                            <td class="company-id daytrader-table-data"> {{ r }}.</td>
                            <td class="daytrader-table-data"> {{ price|c }}</td>
                            <td class="daytrader-table-data">
                                <img src="{% static 'daytrader/media/unknown_face_daytrader.png' %}" alt="unknown face"
                                     class="reveal-face">
                            </td>
                            <td class="daytrader-table-data"> {% if choice == True %} + {% else %} - {% endif %}
                            {{ deals }} aktier.
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <div class="daytrader-info-choice">
                <div class="daytrader-round-info">
                    Du har {{ player.wallet|c }} og aktieprisen er lige nu {{ player.price|c }}.
                    <br>
                    <br>
                    <b><u>Hvad vil du gøre?</u></b>
                    <br>
                    <b>Der er {{ runder }} runder, husk at vær sparsom med dine penge og handl fornuftigt</b>
                </div>
            </div>
            <div id="timer-text" class="container justify-content-md-center">
                Tid tilbage:
                <strong><span id="timer" class="otree-timer__time-left"></span></strong>
            </div>

            <div class="daytrader-form-container">
                {% formfield player.choice_of_trade label=None %}

                <div class="daytrader-submit-value">
                    <p class="daytrader-form-info"> Hvor mange aktier?
                        <br>
                        {% if subsession.round_number == 1 %}
                          <small> (du kan handle med maksimalt <b>{{ player.can_buy }}
                          aktier, og husk at gemme nogle penge til de næste runder)</b></small></p>
                        {% else %}
                          <small> (du kan handle med maksimalt <b>{{ player.can_buy }}
                          aktier)</b></small></p>
                        {% endif %}
                    <div class="daytrader-formfield">
                        {% formfield player.choice_of_number_of_shares label=None %}
                    </div>
                    <div class="daytrader-next-btn-container">
                        <button class="daytrader-next-btn">
                            Køb/Sælg
                        </button>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>



{% endblock %}
{% block scripts %}
    <script>

        let containers = document.getElementsByClassName("faceContainer");
        let drawn_face = {{ player.drawn_face|yesno:"true,false" }};
        let states = document.getElementsByClassName("state-container");
        let buttonContainer = document.getElementsByClassName("btn-container");
        let group_ids = [];
        let current_group_id = {{ group.id }};
        let companyIds = document.getElementsByClassName("company-id");
        let data = {{ rounds|safe }};
        let sackContainer1 = document.querySelector("#sack-container-1");
        let sackContainer2 = document.querySelector("#sack-container-2");
        let sackContainer3 = document.querySelector("#sack-container-3");

        let containerSack = document.querySelector(".daytrader-sack-button-container");
        let sackButtons = document.getElementsByClassName("sack-btn");

        let radioButton = document.getElementsByClassName("form-check-input");
        let inputContainer = document.querySelector(".daytrader-submit-value");

        for (let button = 0; button < radioButton.length; button++) {
            radioButton[button].onclick = event => {
                inputContainer.style.display = "block";
            }
        }




        function toggle(className, displayState) {
            let elements = document.getElementsByClassName(className);

            for (let i = 0; i < elements.length; i++) {
                elements[i].style.display = displayState;
            }
        }

        for (let i = 0; i < sackButtons.length; i++) {
            sackButtons.id = "button" + i;
            console.log(sackButtons[i].parentElement.getAttribute("id"));
            sackButtons[i].onclick = event => {
                console.log(sackButtons);
                event.preventDefault();
                let happyFace = document.createElement("img");
                happyFace.className = "company-face-in-sack";
                happyFace.src = "{% static 'daytrader/media/happy_face_daytrader.png' %}";
                let sadFace = document.createElement("img");
                sadFace.className = "company-face-in-sack";
                sadFace.src = "{% static 'daytrader/media/sad_face_daytrader.png' %}";
                let unknownFace1 = document.createElement("img");
                unknownFace1.className = "company-face-in-sack";
                unknownFace1.src = "{% static 'daytrader/media/unknown-face-green.png' %}";
                let unknownFace2 = document.createElement("img");
                unknownFace2.className = "company-face-in-sack";
                unknownFace2.src = "{% static 'daytrader/media/unknown-face-green.png' %}";

                let existingGroups = JSON.parse(localStorage.getItem("all_groups"));
                if (existingGroups === null) existingGroups = [];
                localStorage.setItem("current_group", JSON.stringify(current_group_id));
                existingGroups.push(current_group_id);
                localStorage.setItem("all_groups", JSON.stringify(existingGroups));
                localStorage.setItem("clicked", "true");

                let selectedClick = {
                    name: "{{ player.company_name }}",
                    group_id: {{ group.id }},
                    button_click: sackButtons[i].parentElement.getAttribute("id")
                };


                let existingSelections = JSON.parse(localStorage.getItem("all_selections"));
                if (existingSelections === null) existingSelections = [];
                localStorage.setItem("selected_click", JSON.stringify(selectedClick));
                existingSelections.push(selectedClick);
                localStorage.setItem("all_selections", JSON.stringify(existingSelections));

                if (sackButtons[i].parentElement.getAttribute("id") === "sack-container-1") {
                    toggle("sack-btn", "none");
                    if (drawn_face === true) {
                        sackContainer1.appendChild(happyFace);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(unknownFace1);
                    } else if (drawn_face === false) {
                        sackContainer1.appendChild(sadFace);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(unknownFace1);
                    }
                }

                if (sackButtons[i].parentElement.getAttribute("id") === "sack-container-2") {
                    toggle("sack-btn", "none");
                    if (drawn_face === true) {
                        sackContainer1.appendChild(unknownFace2);
                        sackContainer2.appendChild(happyFace);
                        sackContainer3.appendChild(unknownFace1);
                    } else if (drawn_face === false) {
                        sackContainer1.appendChild(unknownFace2);
                        sackContainer2.appendChild(sadFace);
                        sackContainer3.appendChild(unknownFace1);
                    }
                }

                if (sackButtons[i].parentElement.getAttribute("id") === "sack-container-3") {
                    toggle("sack-btn", "none");
                    if (drawn_face === true) {
                        sackContainer1.appendChild(unknownFace1);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(happyFace);
                    } else if (drawn_face === false) {
                        sackContainer1.appendChild(unknownFace1);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(sadFace);
                    }
                }


            }
        }

        let selection = JSON.parse(localStorage.getItem("selected_click"));
        if (selection.name === "{{ player.company_name }}" && selection.group_id === {{ group.id }}) {
            toggle("sack-btn", "none");
            let happyFace = document.createElement("img");
            happyFace.className = "company-face-in-sack";
            happyFace.src = "{% static 'daytrader/media/happy_face_daytrader.png' %}";
            let sadFace = document.createElement("img");
            sadFace.className = "company-face-in-sack";
            sadFace.src = "{% static 'daytrader/media/sad_face_daytrader.png' %}";
            let unknownFace1 = document.createElement("img");
            unknownFace1.className = "company-face-in-sack";
            unknownFace1.src = "{% static 'daytrader/media/unknown-face-green.png' %}";
            let unknownFace2 = document.createElement("img");
            unknownFace2.className = "company-face-in-sack";
            unknownFace2.src = "{% static 'daytrader/media/unknown-face-green.png' %}";

            if (selection.button_click === "sack-container-1") {
                toggle("sack-btn", "none");
                if (drawn_face === true) {
                    sackContainer1.appendChild(happyFace);
                    sackContainer2.appendChild(unknownFace2);
                    sackContainer3.appendChild(unknownFace1);
                } else if (drawn_face === false) {
                    sackContainer1.appendChild(sadFace);
                    sackContainer2.appendChild(unknownFace2);
                    sackContainer3.appendChild(unknownFace1);
                }
            }

            if (selection.button_click === "sack-container-2") {
                toggle("sack-btn", "none");
                if (drawn_face === true) {
                    sackContainer1.appendChild(unknownFace2);
                    sackContainer2.appendChild(happyFace);
                    sackContainer3.appendChild(unknownFace1);
                } else if (drawn_face === false) {
                    sackContainer1.appendChild(unknownFace2);
                    sackContainer2.appendChild(sadFace);
                    sackContainer3.appendChild(unknownFace1);
                }
            }

            if (selection.button_click === "sack-container-3") {
                toggle("sack-btn", "none");
                if (drawn_face === true) {
                    sackContainer1.appendChild(unknownFace1);
                    sackContainer2.appendChild(unknownFace2);
                    sackContainer3.appendChild(happyFace);
                } else if (drawn_face === false) {
                    sackContainer1.appendChild(unknownFace1);
                    sackContainer2.appendChild(unknownFace2);
                    sackContainer3.appendChild(sadFace);
                }
            }
        }


        /**
         if (!localStorage.getItem("all_groups").includes(current_group_id)) {
            localStorage.removeItem("clicked");
        } **/

    </script>
{% endblock %}
