{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
    {{ player.company_name }}
{% endblock %}

{% block styles %}
    <style>
        body {
            background: #41739D;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="game-container container">

        {% if subsession.round_number > 1 %}
            <div class="round-introduction">
                <h2 class="round-title">{{ player.company_name }}</h2>
            </div>

            <p> Nu er du trader nummer {{ player.round_number }},

        {% else %}
            Du er den første trader,
        {% endif %}
        og du skal nu handle aktier i firmaet '{{ player.company_name }}'.
        Du kigger i sækken, og ser et ansigt der er

        {% if player.drawn_face is True %}
            <strong>glad</strong>
        {% else %}
            <strong>ked af det</strong>
        {% endif %}.
        </p>
        <p>
            Du har {{ player.wallet|c }} og aktieprisen er lige nu {{ player.price|c }}. Hvad vil du gøre?
        </p>

        <table class="table">
            <tr>
                <th>trader</th>
                <th>pris</th>
                <th>ansigt</th>
                <th>handel</th>
            </tr>
            {% for r, price, choice, deals, states in data %}
                <tr>
                    <td class="company-id"> {{ r }}.</td>
                    <td> {{ price|c }}</td>
                    <td class="faceContainer">
                        <div class="btn-container"></div>
                        {% if states is True %}
                            <div class="state-container">Glad :-)</div>
                        {% else %}
                            <div class="state-container">Ked af det :-(</div>
                        {% endif %}
                    </td>
                    <td> {% if choice == True %} + {% else %} - {% endif %}
                        {{ deals }} aktier
                    </td>
                </tr>
            {% endfor %}
        </table>


        {% formfield player.choice_of_trade label=None %}
        <p> Hvor mange aktier? (du kan handle med maksimalt {{ player.can_buy }} aktier)</p>
        {% formfield player.choice_of_number_of_shares label=None %}
        {% next_button %}
    </div>

    <script>


        let containers = document.getElementsByClassName("faceContainer");
        let drawn_face = {{ player.drawn_face|yesno:"true,false" }};
        let states = document.getElementsByClassName("state-container");
        let buttonContainer = document.getElementsByClassName("btn-container");
        let group_ids = []
        let current_group_id = {{ group.id }};
        let companyIds = document.getElementsByClassName("company-id");

        {#if (!localStorage.getItem("all_groups").includes(current_group_id)) {#}
        {#    localStorage.removeItem("clicked");#}
        {##}


        function toggle(className, displayState) {
            let elements = document.getElementsByClassName(className);

            for (let i = 0; i < elements.length; i++) {
                elements[i].style.display = displayState;
            }
        }


        for (let i = 0; i < containers.length; i++) {
            toggle("state-container", "none");
            let button = document.createElement("button");
            button.className = "btn btn-primary reveal-btn";
            button.textContent = "?";
            containers[i].appendChild(button);
        }


        let button = document.getElementsByClassName("reveal-btn");

        for (let item = 0; item < button.length; item++) {

            button[item].onclick = event => {
                event.preventDefault();
                toggle("reveal-btn", "none");
                states[item].style.display = "block";

                {#let existingGroups = JSON.parse(localStorage.getItem("all_groups"));#}
                {#if (existingGroups === null) existingGroups = [];#}
                {#localStorage.setItem("current_group", JSON.stringify(current_group_id));#}
                {#existingGroups.push(current_group_id);#}
                {#localStorage.setItem("all_groups", JSON.stringify(existingGroups));#}
                {##}
                {#localStorage.setItem("clicked", "true");#}

                let selectedClick = {
                    id: companyIds[item].textContent,
                    value: states[item].textContent,
                    name: "{{ player.company_name }}",
                    group_id: {{ group.id }}
                }


                let existingSelections = JSON.parse(localStorage.getItem("all_selections"));
                if (existingSelections === null) existingSelections = [];
                localStorage.setItem("selected_click", JSON.stringify(selectedClick));
                existingSelections.push(selectedClick);
                localStorage.setItem("all_selections", JSON.stringify(existingSelections));
            }
        }

        let selection = JSON.parse(localStorage.getItem("selected_click"));
        for (let i = 0; i < companyIds.length; i++) {
            if (selection.id === companyIds[i].textContent && selection.name === "{{ player.company_name }}" && selection.group_id === {{ group.id }}) {
                states[i].style.display = "block";
                toggle("reveal-btn", "none");
            }
        }
    </script>

{% endblock %}