{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
    {{ player.company_name }}
{% endblock %}

{% block content %}

    {% if subsession.round_number > 1 %}
    <p>
    <table class="table">
        <tr>
            <th>trader</th>
            <th>pris</th>
            <th>ansigt</th>
            <th>handel</th>
        </tr>
        {% for r, price, choice, deals in data %}
            <tr>
                <td> {{ r }}. </td>
                <td> {{ price|c }}</td>
                <td> ? </td>
                <td> {%if choice == True %} + {% else %} - {% endif %}
                     {{ deals }} aktier</td>
            </tr>
        {% endfor %}
    </table>
    <p> Nu er du trader nummer {{ player.round_number }},
    {% else %}
    Du er den første trader,
    {% endif %}
    og du skal nu handle aktier i firmaet '{{ player.company_name }}'.
    Du kigger i sækken, og ser et ansigt der er
    {% if player.drawn_face == True %}
        <strong>glad</strong>
    {% else %}
        <strong>ked af det</strong>
    {% endif%}.

    </p>
    <p>
        Du har {{ player.wallet|c }} og aktieprisen er lige nu {{ player.price|c }}. Hvad vil du gøre?
    </p>
        {% formfield player.choice_of_trade label=None%}
    <p> Hvor mange aktier? (du kan handle med maksimalt {{ player.can_buy }} aktier)</p>
        {% formfield player.choice_of_number_of_shares label=None%}
    {%  next_button %}

{% endblock %}
