{% extends "global/Base.html" %}
{% load otree %}
{% block content %}

<p>
  Den næste trader ser tre longs efter hinanden, og går derfor også long. Og
  så fremdeles vil alle 'rationelle' tradere fremover gå long, lige meget hvilken
  information de selv får, simpelthen fordi der er en overvægt af information
  som peger på at firmaet har det godt.
</p>
<table class="table">
  <tr>
    <th>trader</th>
    <th>pris</th>
    <th>ansigt</th>
    <th>handel</th>
  </tr>
  <tr>
    <td> {{ 1 }}. </td>
    <td> {{ 50|c }}</td>
    <td> glad </td>
    <td> + 23 aktier</td>
  </tr>
  <tr>
    <td> {{ 2 }}. </td>
    <td> {{ 50.06|c }}</td>
    <td> glad </td>
    <td> + 45 aktier</td>
  </tr>
  <tr>
    <td> {{ 3 }}. </td>
    <td> {{ 50.26|c }}</td>
    <td> ked af det </td>
    <td> + 30 aktier</td>
  </tr>
  <tr>
    <td> {{ 4 }}. </td>
    <td> {{ 50.51|c }}</td>
    <td> ked af det </td>
    <td> + 20 aktier</td>
  </tr>
  <tr>
    <td> {{ 5 }}. </td>
    <td> {{ 50.66|c }}</td>
    <td> ked af det </td>
    <td> + 70 aktier</td>
  </tr>
  <tr>
    <td> {{ 6 }}. </td>
    <td> {{ 50.92|c }}</td>
    <td> ked af det </td>
    <td> + 120 aktier</td>
  </tr>
  <tr>
    <td> {{ 7 }}. </td>
    <td> {{ 51.22|c }}</td>
    <td> ked af det </td>
    <td> + 100 aktier</td>
  </tr>
  <tr>
    <td> {{ 8 }}. </td>
    <td> {{ 51.50|c }}</td>
    <td> ked af det </td>
    <td> + 200 aktier</td>
  </tr>
</table>
<p>
  Det kaldes en informationskaskade,
  og det er faktisk rationelt og fornuftigt at gøre.
</p>
<p>
  Men informationskaskader kan tage fejl.
  Prøv at klikke på tradernes private information.
  De ser alle kede af det ud. Traderne ignorerede deres private information,
  fordi de to første tradere så glade ansigter. Firmaet sande tilstand er i
  virkeligheden et gladt og to ked af det ansigter.
</p>
<p>
  På den måde kan der opstå bobler. Ikke kun i finansverdenen, men også i
  modeverdenen, i journalistikken og i den almene meningsdannelse:
  Man modtager masser af informationer, som man tror er ærlige og repræsentative
  for befolkningen, men i virkeligheden blot er ekkoer af en enkel eller to
  personers synspunkter.
</p>

{% next_button %}
{% endblock %}
