{% extends "global/Base.html" %}
{% load otree %}
{% block content %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>
    <div class="daytrader-game-container">
        <p class="daytrader-round-info text-center">
            Der er mange måder, hvorpå der kan opstå bobler i finansverdenen.
        </p>
        <p class="daytrader-round-info">
            Her er en simpel forklaring.
        </p>
        <p class="daytrader-round-info text-center">
            Forestil dig et firma, repræsenteret af en sæk med glade og ikke glade medarbejdere. 
        </p>
        <p class="daytrader-round-info text-center">
            (billede af sæk med tre hoveder i, hvor den ene er ked af det
            og de to andre er glade)
        </p>
        <div class="daytrader-intro-container-first">
            <p class="daytrader-round-info daytrader-intro-first">
                Lad os sige, at hvis firmaet har en overvægt af
                <img src="{% static 'daytrader/media/happy_face_daytrader.png' %}" alt="happy face"
                     class="reveal-face">
                medarbejdere, så går det godt, og så får firmaet overskud.
            </p>
            <p class="daytrader-round-info daytrader-intro-first">
                Hvis der er en overvægt af medarbejdere som er
                <img src="{% static 'daytrader/media/sad_face_daytrader.png' %}" alt="sad face" class="reveal-face">
                går det skidt og firmaet giver underskud.
            </p>
        </div>
        <div class="flex justify-content-md-center">
            <div class="daytrader-next-btn-container">
                <button class="daytrader-next-btn">
                    Fortsæt...
                </button>
            </div>
        </div>

    </div>
{% endblock %}
