{% extends "global/Base.html" %}
{% load otree %}
{% block content %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="daytrader-game-container">
        <div class="daytrader-round-info">

            <p>
             På den måde kan der opstå bobler. Ikke kun i finansverdenen, men også i modeverdenen, i journalistikken og i den almene meningsdannelse: Man modtager masser af informationer, som man tror er ærlige og repræsentative for befolkningen, men i virkeligheden blot er ekkoer af en enkel eller to personers synspunkter.
            </p>

            <p>
                Nu skal du selv prøve at handle med aktier i forskellige firmaer.
            </p>

            <p>
                Du spiller sammen med de andre i klassen og vinderen er den der til slut har tjent flest penge på
                aktiehandler.
            </p>
        </div>

        <div class="daytrader-next-btn-container" style="margin-top: 2.5%;">
            <button class="daytrader-next-btn">
                Start spillet
            </button>
        </div>
    </div>

{% endblock %}
