{% extends "global/Base.html" %}
{% load otree %}
{% block content %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="daytrader-game-container">
        <div class="daytrader-round-info">
            <p style="font-size: 30px;">
                Forestil dig, at du skal handle aktier i dette firma: <b>Pied Piper</b>
            </p>
            <div class="daytrader-sack-button-container">
                <div class="daytrader-sack-buttons">
                    <table>
                        <tr>
                            <td></td>
                            <td id="sack-container-1"><img src="{% static 'daytrader/media/unknown-face-green.png' %}"
                                                           alt="unknown face"
                                                           class="sack-button"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td id="sack-container-2"><img src="{% static 'daytrader/media/unknown-face-green.png' %}"
                                                           alt="unknown face" class="sack-button"></td>
                            <td></td>
                            <td id="sack-container-3"><img src="{% static 'daytrader/media/unknown-face-green.png' %}"
                                                           alt="unknown face" class="sack-button"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <p>Prøv at trykke på et af spørgsmålstegnene i sækken for at se din private info.</p>
        </div>

        <table class="table daytrader-table">
            <tr class="table-corners">
                <th class="daytrader-table-header border-corner-left">trader</th>
                <th class="daytrader-table-header">pris</th>
                <th class="daytrader-table-header">privat info</th>
                <th class="daytrader-table-header border-corner-right">handel</th>
            </tr>
            <tr class="daytrader-table-row">
                <td class="daytrader-table-data"> {{ 1 }}.</td>
                <td class="daytrader-table-data"> {{ 50|c }}</td>
                <td class="daytrader-table-data">
                    <img src="{% static 'daytrader/media/unknown_face_daytrader.png' %}" alt="spørgsmålstegn"
                         class="reveal-face">
                </td>
                <td class="daytrader-table-data"> +23 aktier</td>
            </tr>
            <tr class="daytrader-table-row">
                <td class="daytrader-table-data"> {{ 2 }}.</td>
                <td class="daytrader-table-data"> {{ 50.06|c }}</td>
                <td class="daytrader-table-data" id="faceContainer2">
                    <img src="{% static 'daytrader/media/unknown_face_daytrader.png' %}" alt="spørgsmålstegn"
                         class="reveal-face" id="unknownFace2">
                </td>
                <td class="daytrader-table-data"> +45 aktier</td>
            </tr>
        </table>


        <div class="daytrader-round-info">
            <p>Foroven er en tabel over tidligere handler i firmaet. Du kan se, at de to første tradere også fik lov til
                at se et ansigt inde de lavede deres handel.</p>

            <p> Yderligere kan du se hvor meget de gik short eller long i tabellen.
                <br>
                <small>(Minus er <i class="short-modal-link">short</i>, plus er <i
                        class="long-modal-link">long</i>)</small>
            </p>
             <p>Med den viden, hvad er mest sandsynligt at de to tradere har set af ansigter?</p>
            <input type="radio" id="two-happy-faces" name="faces" value="glade" class="form-check-input">
            <label for="two-happy-faces" class="form-check-label">
                De har begge set to
                <img
                    src="{% static 'daytrader/media/happy_face_daytrader.png' %}"
                    alt="happy face"
                    class="company-face">
                ansigter
            </label>


            <br>
            <input type="radio" id="two-sad-faces" name="faces" value="kede" class="form-check-input">
            <label for="two-sad-faces" class="form-check-label">De har begge set to <img
                    src="{% static 'daytrader/media/sad_face_daytrader.png' %}" alt="sad face"
                    class="company-face"> ansigter</label><br>

            <div id="faces-answer"><!--  JavaScript is appended here --></div>

            <div>
                <p>Nu er det din tur til at tage en beslutning.</p>
                <p><b>Hvad vil du gøre som den tredje trader?</b></p>
            </div>
            <div>
                <input type="radio" id="trader_choice_1" name="choice" value="buy" class="form-check-input">
            <label for="trader_choice_1" class="form-check-label">Køb (Long)</label>
            <br>
            <input type="radio" id="trader_choice_2" name="choice" value="sell" class="form-check-input">
            <label for="trader_choice_2" class="form-check-label">Sælg (Kort)</label><br>
            </div>

            <div id="trader_choice"><!--  JavaScript is appended here --></div>
            <!--

        </div>
        <div class="wrong-choice">
            <p>Prøv igen..</p>
            <p>Husk på den information du har fra forrige tradere!</p>
        </div>
        <div class="correct-choice">
            <p>Godt valg!</p>
            <p>Det mest fornuftige vil være at gætte på, at firmaet er i god stand, og derfor køber du!</p>
        </div>

        <div class="daytrader-next-btn-container">
            <button class="daytrader-next-btn">
                Forsæt..
            </button>
        </div>
        <div id="shortModal" class="short-modal">
            <div class="short-modal-content">
                <div class="daytrader-round-info">
                    <p>At gå short betyder at man låner aktier af sin broker for at sælge dem på markedet med det samme,
                        fordi man tror at aktieprisen vil falde.</p>
                    <p>Senere køber man aktierne igen og afleverer dem tilbage (man ”lukker sin position”). Forskellen
                        på salgs- og købsprisen er ens fortjeneste (eller tab).</p>
                </div>
            </div>
        </div>
        <div id="longModal" class="long-modal">
            <div class="long-modal-content">
                <div class="daytrader-round-info">
                    <p>At gå long betyder at man køber aktier fordi man tror at de vil stige i værdi.
                        Senere sælger man aktierne igen (man ”lukker sin position”).</p>
                    <p> Forskellen på købs- og salgsprisen er ens fortjeneste (eller tab).</p>
                </div>
            </div>-->

        </div>
    </div>

    <script>
    /* JS for second set of radio buttons  */
        // Get div to use to append new element depending on choosen answer
        let trader_choice_container = document.getElementById("trader_choice");

        // Create a p tag to go into the trader_choice_container (div)
        let trader_choice_correct = document.createElement("P");
        trader_choice_correct.setAttribute("class", "trader_choice");



    /* JS for first set of radio buttons  */
        // Get div to use to append new element depending on choosen answer
        let faces_answer_container = document.getElementById("faces-answer");

        // Create a p tag to go into the faces_answer_container (div)
        let guess_reply_correct = document.createElement("P");
        guess_reply_correct.setAttribute("class", "guess_reply");

        // Create a text-node for correct answer and append to p tag
        let correct_guess = document.createTextNode("Korrekt! Da begge tradere har købt aktier kan der konkluderes at de begge har set glade ansigter.");
        guess_reply_correct.append(correct_guess);

         // Create a p tag to go into the faces_answer_container (div)
        let guess_reply_wrong = document.createElement("P");
        guess_reply_wrong.setAttribute("class", "guess_reply");

         // Create a text-node for wrong answer and append to p tag
        let wrong_guess = document.createTextNode("Forkert..genlæs teksten foroven, og prøv igen.");
        guess_reply_wrong.append(wrong_guess);



        // Use variables to check if the answer is correct and show messages accordingly
        $('input:radio[name="faces"]').change(function () {

           if ($(this).val() === "glade") {

               if (guess_reply_wrong.parentNode) {
                   guess_reply_wrong.parentNode.removeChild(guess_reply_wrong);
               }

               faces_answer_container.appendChild(guess_reply_correct);
               guess_reply_correct.style.color = "#5f861e";
               console.log("Happy faces")
           } else {

               if (guess_reply_correct.parentNode) {
                   guess_reply_correct.parentNode.removeChild(guess_reply_correct);
               }

               document.getElementById("faces-answer").appendChild(guess_reply_wrong);
                guess_reply_wrong.style.color = "#BF0A30";
               console.log("Unhappy faces")
           }
        });


        let containers = document.getElementsByClassName("faceContainer");
        let drawn_face = {{ player.drawn_face|yesno:"true,false" }};
        let states = document.getElementsByClassName("state-container");
        let buttonContainer = document.getElementsByClassName("btn-container");
        let group_ids = [];
        let current_group_id = {{ group.id }};
        let companyIds = document.getElementsByClassName("company-id");
        let sackContainer1 = document.querySelector("#sack-container-1");
        let sackContainer2 = document.querySelector("#sack-container-2");
        let sackContainer3 = document.querySelector("#sack-container-3");

        let containerSack = document.querySelector(".daytrader-sack-button-container");
        let sackButtons = document.getElementsByClassName("sack-button");

        let radioButton = document.getElementsByClassName("form-check-input");
        //let inputContainer = document.querySelector(".daytrader-submit-value");

        //for (let button = 0; button < radioButton.length; button++) {
          //  radioButton[button].onclick = event => {
            //    inputContainer.style.display = "block";
            //}
        //}


        function toggle(className, displayState) {
            let elements = document.getElementsByClassName(className);

            for (let i = 0; i < elements.length; i++) {
                elements[i].style.display = displayState;
            }
        }

        for (let i = 0; i < sackButtons.length; i++) {
            sackButtons.id = "button" + i;
            sackButtons[i].onclick = event => {
                event.preventDefault();
                let happyFace = document.createElement("img");
                happyFace.className = "company-face-in-sack";
                happyFace.src = "{% static 'daytrader/media/happy_face_daytrader.png' %}";
                let sadFace = document.createElement("img");
                sadFace.className = "company-face-in-sack";
                sadFace.src = "{% static 'daytrader/media/sad_face_daytrader.png' %}";
                let unknownFace1 = document.createElement("img");
                unknownFace1.className = "company-face-in-sack";
                unknownFace1.src = "{% static 'daytrader/media/unknown-face-green.png' %}";
                let unknownFace2 = document.createElement("img");
                unknownFace2.className = "company-face-in-sack";
                unknownFace2.src = "{% static 'daytrader/media/unknown-face-green.png' %}";


                if (sackButtons[i].parentElement.getAttribute("id") === "sack-container-1") {
                    toggle("sack-button", "none");
                    if (drawn_face === true) {
                        sackContainer1.appendChild(sadFace);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(unknownFace1);
                    } else if (drawn_face === false) {
                        sackContainer1.appendChild(sadFace);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(unknownFace1);
                    }
                }

                if (sackButtons[i].parentElement.getAttribute("id") === "sack-container-2") {
                    toggle("sack-button", "none");
                    if (drawn_face === true) {
                        sackContainer1.appendChild(unknownFace2);
                        sackContainer2.appendChild(sadFace);
                        sackContainer3.appendChild(unknownFace1);
                    } else if (drawn_face === false) {
                        sackContainer1.appendChild(unknownFace2);
                        sackContainer2.appendChild(sadFace);
                        sackContainer3.appendChild(unknownFace1);
                    }
                }

                if (sackButtons[i].parentElement.getAttribute("id") === "sack-container-3") {
                    toggle("sack-button", "none");
                    if (drawn_face === true) {
                        sackContainer1.appendChild(unknownFace1);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(sadFace);
                    } else if (drawn_face === false) {
                        sackContainer1.appendChild(unknownFace1);
                        sackContainer2.appendChild(unknownFace2);
                        sackContainer3.appendChild(sadFace);
                    }
                }


            }
        }


        // Definition modals - show/hide
        let shortModal = document.getElementById("shortModal");
        let longModal = document.getElementById("longModal");
        let shortLink = document.querySelector(".short-modal-link");
        let longLink = document.querySelector(".long-modal-link");

        shortLink.onclick = function () {
            shortModal.style.display = "block";
        };

        longLink.onclick = function () {
            longModal.style.display = "block";
        };

        window.onclick = function (event) {
            if (event.target === shortModal) {
                shortModal.style.display = "none";
            } else if (event.target === longModal) {
                longModal.style.display = "none";
            }
        }
    </script>
{% endblock %}
