{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% block content %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="daytrader-game-container">
        <p class="daytrader-round-info">
            Investorerne ved ofte IKKE, hvordan det i virkeligheden står til i firmaet. Hvis de er grundige, læser de
            måske en enkel årsrapport, men ellers ser de kun aktiekurserne stige og falde.
        </p>
        <p class="daytrader-round-info">
            Prøv og forstil dig, at du er en investor, eller endnu bedre: en <i class="daytrader-future">daytrader</i>
            der tjener
            penge på at gætte
            i hvilken retning kursen vil gå.
        </p>

        <div class="daytrader-intro-container-second">
            <div class="daytrader-intro-container-second-info">
                <p class="daytrader-round-info">
                    Du har lånt 10.000 euros af din rige onkel, og vil bruge pengene til at handle futures med.
                    I morgen skal du aflevere pengene igen, og alle penge du har tjent ud over de 10.000 euros vil være
                    dine.
                </p>
                <p class="daytrader-round-info">
                    Men..hvis du taber pengene, bliver nød til at sælge dit kamera udstyr for at betale din onkel
                    tilbage.
                </p>
            </div>
        </div>
        <div class="daytrader-next-btn-container">
            <button class="daytrader-next-btn">
                Nu kan du starte med at handle!
            </button>
        </div>

        <div id="futureModal" class="future-modal">
            <div class="future-modal-content">
                <p class="daytrader-round-info">En daytrader er en bla bla bla</p>
            </div>
        </div>
    </div>
    <script>
        let futureModal = document.getElementById("futureModal");

        let futureLink = document.querySelector(".daytrader-future");

        let closeModal = document.getElementsByClassName("close")[0];

        futureLink.onclick = function () {
            futureModal.style.display = "block";
        }

        window.onclick = function (event) {
            if (event.target === futureModal) {
                futureModal.style.display = "none";
            }
        }

    </script>
{% endblock %}
