{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% block content %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="daytrader-game-container">
        <p class="daytrader-round-info">
            Men vent lige. Investorerne ved ofte ikke, hvordan det i virkeligheden
            står til i firmaet. Hvis de er grundige, læser de måske en enkel
            årsrapport, men eller ser de kun aktiekurserne stige og falde.
        </p>
        <p class="daytrader-round-info">
            Forestil dig nu, at du er en investor, eller endnu bedre: en futures
            trader,
        </p>
        <p class="daytrader-round-info">
            (billede af en smart stregmand der kaster om sig med penge)
        </p>
        <p class="daytrader-round-info">
            der tjener penge på at gætte i hvad retning kursen vil gå.
        </p>
        <p class="daytrader-round-info">
            (forklaring på hvordan futures trading med shorts og longs foregår
            gives i en separarate boble eller boks, eller er i et link)
        </p>
        <p class="daytrader-round-info">
            Du har lånt 10.000 dollars af din rige onkel, og vil bruge pengene
            til at handle futures med. Om 14 dage skal du aflevere pengene igen,
            og alle penge du har tjent ud over de 10.000 dollars vil være dine.
            Og hvis du taber penge, kan det være at du må sælge din pladesamling
            for at betale onklen tilbage).
        </p>
        <div class="daytrader-next-btn-container">
            <button class="daytrader-next-btn">
                Fortsæt...
            </button>
        </div>
    </div>
{% endblock %}
