{% extends "global/Base.html" %}
{% load otree %}
{% block content %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="daytrader-game-container">
        <div class="daytrader-round-info">
            <p>
                Forestil dig, at du skal handle aktier i dette firma: <b>Pied Piper</b>
            </p>
                <img style="height:200px; width: 200px;" src="{% static 'main_platform/otree/media/sack-images/sack-empty.svg' %}" >
                <img style="height:100px; width: 100px;" src="{% static 'daytrader/media/unknown_face_daytrader.svg' %}">
                <img style="height:100px; width: 100px;" src="{% static 'daytrader/media/unknown_face_daytrader.svg' %}">
                <img style="height:100px; width: 100px;" src="{% static 'daytrader/media/unknown_face_daytrader.svg' %}">
                <img style="height:100px; width: 100px;" src="{% static 'daytrader/media/sad_face_daytrader.png' %}">
            <p>Du må gerne trykke på et af spørgsmålstegnene i sækken, for at se om det er glad eller ked af det. Det er din private information om det firma.</p>
        </div>

        <table class="table daytrader-table">
            <tr class="table-corners">
                <th class="daytrader-table-header border-corner-left">trader</th>
                <th class="daytrader-table-header">pris</th>
                <th class="daytrader-table-header">privat info</th>
                <th class="daytrader-table-header border-corner-right">handel</th>
            </tr>
            <tr class="daytrader-table-row">
                <td class="daytrader-table-data"> {{ 1 }}.</td>
                <td class="daytrader-table-data"> {{ 50|c }}</td>
                <td class="daytrader-table-data">
                    <img src="{% static 'daytrader/media/unknown_face_daytrader.png' %}" alt="spørgsmålstegn"
                         class="reveal-face" >
                </td>
                <td class="daytrader-table-data"> +23 aktier</td>
            </tr>
            <tr class="daytrader-table-row">
                <td class="daytrader-table-data"> {{ 2 }}.</td>
                <td class="daytrader-table-data"> {{ 50.06|c }}</td>
                <td class="daytrader-table-data" id="faceContainer2">
                    <img src="{% static 'daytrader/media/unknown_face_daytrader.png' %}" alt="spørgsmålstegn"
                         class="reveal-face" id="unknownFace2">
                </td>
                <td class="daytrader-table-data"> +45 aktier</td>
            </tr>
        </table>


            <div class="daytrader-round-info">
                <p>Foroven er en tabel over tidligere handler i firmaet. Du kan se, at de to første tradere også fik lov til at se et ansigt inde de lavede deres handel.</p>

                <p> Yderligere kan du se hvor meget de gik short eller long i tabellen.
                    <br>
                    <small>(Minus er <i class="short-modal-link">short</i>, plus er <i class="long-modal-link">long</i>)</small>
                </p>

                <p>De to forrige tradere har begge købt aktier i firmaet. Derfor konluderer du at de begge har set    <img src="{% static 'daytrader/media/happy_face_daytrader.png' %}" alt="happy face"
                     class="company-face">ansigter. Du har selv set et<img src="{% static 'daytrader/media/sad_face_daytrader.png' %}" alt="sad face"
                           class="company-face">ansigt.</p>
                <p><u>Hvad vil du gøre? Vil du <b>købe (gå long)</b> eller <b>sælge (gå short)</b>?</u></p>
                <p>Det mest fornuftige ville være at gætte på, at firmaet er i god stand, og derfor køber du!</p>
            </div>


     <div class="daytrader-next-btn-container">
            <button class="daytrader-next-btn">
                Gå long!
            </button>

        </div>

       <div id="shortModal" class="short-modal">
            <div class="short-modal-content">
                  <div class="daytrader-round-info">
                     <p>At gå short betyder at man låner aktier af sin broker for at sælge dem på markedet med det samme, fordi man tror at aktieprisen vil falde.</p>
                    <p>Senere køber man aktierne igen og afleverer dem tilbage (man ”lukker sin position”). Forskellen på salgs- og købsprisen er ens fortjeneste (eller tab).</p>
                </div>
            </div>
        </div>
        <div id="longModal" class="long-modal">
            <div class="long-modal-content">
                <div class="daytrader-round-info">
                     <p>At gå long betyder at man køber aktier fordi man tror at de vil stige i værdi.
                    Senere sælger man aktierne igen (man ”lukker sin position”).</p>
                    <p> Forskellen på købs- og salgsprisen er ens fortjeneste (eller tab).</p>
                </div>
            </div>
        </div>


    </div>


    <script>
        let shortModal = document.getElementById("shortModal");
        let longModal = document.getElementById("longModal");
        let shortLink = document.querySelector(".short-modal-link");
        let longLink = document.querySelector(".long-modal-link");

        shortLink.onclick = function () {
            shortModal.style.display = "block";
        }

        longLink.onclick = function () {
            longModal.style.display = "block";
        }

        window.onclick = function (event) {
            if (event.target === shortModal) {
                shortModal.style.display = "none";
            } else if (event.target === longModal) {
                longModal.style.display = "none";
            }
        }
    </script>
{% endblock %}
