{% extends "global/Base.html" %}
{% load otree %}
{% block content %}
    <style>
        body {
            background: #41739D;
        }

        ._otree-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timer {
            display: flex;
            justify-content: center;
        }
    </style>
    <div class="daytrader-game-container">

        <h2 class="daytrader-intro-title">Daytrader</h2>

        <div class="daytrader-intro-frontpage-img">
            <div class="daytrader-next-btn-container">
            <button class="daytrader-start-game-btn">
                Start Spillet
            </button>
        </div>
        </div>


    </div>
{% endblock %}
