/* Error: expected selector.
 *    ,
 * 35 | <<<<<<< HEAD
 *    | ^
 *    '
 *   media-queries\_xs_mobile.scss 35:1  @import
 *   styles.scss 4:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a    \2577 \a 35 \2502  <<<<<<< HEAD\d\a    \2502  ^\a    \2575 \a   media-queries\\_xs_mobile.scss 35:1  @import\a   styles.scss 4:9                     root stylesheet";
}
