{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load otree_dashboard %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<p><a href="/create_session/"><b>Create a session</b></a></p>

{% if app_list %}
    {% with non_subsession_apps=app_list|non_subsession_apps %}
    {% if non_subsession_apps|length != 0 %}
        <h2>Global</h2>
        {% mock_data_export_app %}

        {% for app in non_subsession_apps %}
            {% if app.app_label == "session" %}
                {% include "admin/_dashboard_app_template.html" with app_models=app.models|fix_session_app_models_order %}
            {% endif %}
        {% endfor %}
        {% for app in non_subsession_apps %}
            {% if app.app_label != "session" %}
                {% include "admin/_dashboard_app_template.html" with app_models=app.models %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}


    <h2>Apps</h2>
    {% for app in app_list|subsession_apps_only %}
        {% include "admin/_dashboard_app_template.html" with app_models=app.models|fix_subsession_app_models_order %}
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">

</div>
{% endblock %}
