{% load otree static %}
{% load i18n %}

<!-- Game/session view as active or admin with settings/config-->
{% if user.is_authenticated and user.is_superuser %}

<form id="form">
  {% csrf_token %}
  <h1>Create Session / Opret Spil</h1>

  <p>Vælg spil og antal spillere, derefter tryk <b>"Opret nyt spil"</b></p>

  <!-- Default is bad_influence atm. -->
  <div>{% formfield form.session_config %}</div>

  <div class="form-group{% if form.num_participants.errors %} has-error{% endif %} required">
    <label class="col-form-label" for="num_participants" >
      {{ form.num_participants.label }}
    </label>
    <div class=" controls field-num_participants">
      <div style="flex-direction: row" class="row">
      {{ form.num_participants }}

      <div>
        <input class="btn btn-primary"
               value='Opret nyt spil'
               id="btn-create-session"
               type="submit">
      </div>
      </div>
<!-- Error handling for the form -->
      {% if form.num_participants.errors %}
      {% include "otree/forms/errors.html" with errors=form.num_participants.errors %}
      {% endif %}
      {% for config in configs %}
      <div id="lcm-{{ config.name }}" class="lcm"
           style="display:none">
        <p>Must be a multiple of {{ config.get_lcm }}</p></div>
      {% endfor %}
      <p class="help-block">{{ form.num_participants.help_text }}</p>


    </div>
  </div>

</form>

<!-- Game/session creation without login -->
{% else %}
<form id="form">
  {% csrf_token %}
  <h1>Opret Spil</h1>
  <h4>Du har valgt spillet X</h4>
  <p>Vælg antal spillere, og tryk <b>"Opret nyt spil"</b></p>

  <!-- Default is bad_influence atm. -->
  <div style="display: none;">{% formfield form.session_config %}</div>

  <div class="form-group{% if form.num_participants.errors %} has-error{% endif %} required">
    <label class="col-form-label" for="num_participants" >
      {{ form.num_participants.label }}
    </label>
    <div class=" controls field-num_participants">
      <div style="flex-direction: row" class="row">
      {{ form.num_participants }}

      <div>
        <input class="btn btn-primary"
               value='Opret nyt spil'
               id="btn-create-session"
               type="submit">
      </div>
      </div>
<!-- Error handling for the form -->
      {% if form.num_participants.errors %}
      {% include "otree/forms/errors.html" with errors=form.num_participants.errors %}
      {% endif %}
      {% for config in configs %}
      <div id="lcm-{{ config.name }}" class="lcm"
           style="display:none">
        <p>Must be a multiple of {{ config.get_lcm }}</p></div>
      {% endfor %}
      <p class="help-block">{{ form.num_participants.help_text }}</p>


    </div>
  </div>

</form>

{% endif %}



<script>

    function showSessionConfigInfo(sessionconfigname) {
        $('.summary').hide();
        $('.edit-config').hide();
        $('#session-config-' + sessionconfigname).show();
        $('#edit-config-' + sessionconfigname).show();
        $('.lcm').hide();
        $('#lcm-' + sessionconfigname).show();
    }

    $(document).ready(function () {
        $('.summary').hide();
        $('.edit-config').hide();
        $('.lcm').hide();
        var current_session_config = $('#id_session_config').val();
        if (current_session_config) {
            showSessionConfigInfo(current_session_config);
        }

        $('#id_session_config').change(function () {
            showSessionConfigInfo($(this).val());
        })

        let $createSessionError = $("#create-session-error");
        let $createSessionWait = $("#create-session-wait");
        //let socket = makeReconnectingWebSocket("/create_session/");
        let socket = makeReconnectingWebSocket("/opret_spil/");
        let $btnCreateSession = $('#btn-create-session');
        $btnCreateSession.click(function (e) {
            $btnCreateSession.prop('disabled', true);
            $createSessionError.hide();
            $createSessionWait.show();

            let ary = $('#form').serializeArray();
            let form_data = {};
            for (let entry of ary) {
                form_data[entry.name] = entry.value;
            }
            socket.send(JSON.stringify(form_data));
            e.preventDefault();
        });

        // handle incoming messages
        socket.onmessage = function (message) {
            $createSessionWait.hide();
            let data = JSON.parse(message.data);
            if (data.traceback) {
                $createSessionError.text(data.error);
                $createSessionError.append('<pre>' + data.traceback + '</pre>');
                $createSessionError.show();
            } else if (data.validation_errors) {
                $createSessionError.text(JSON.stringify(data.validation_errors));
                $createSessionError.show();
            } else if (data.session_url) {
                // because the user could press back button later
                $createSessionError.hide();
                $createSessionWait.hide();
                window.location.href = data.session_url;
                return; // so that we don't re-enable create button
            } else {
                $createSessionError.text("Unexpected error: " + message.data);
            }
            $btnCreateSession.prop('disabled', false);
        }
    });

</script>
