{% load staticfiles otree_tags %}
<div class="well">
<h4>Debug info</h4>
{% if form.errors %}
    {% include 'otree/includes/_formfield_is_missing_error.html' %}
{% endif %}

{% for table in view.debug_tables %}
    <div class="panel panel-warning">
        <div class="panel-heading">{{ table.title }}</div>
        <table class="table table-hover">

            {% for k, v in table.rows %}
                <tr><td>{{ k }}</td> <td><code>{{ v }}</code></td></tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}

<p><small style="color: #999999">To hide debug info, set the <span style="font-family: monospace">OTREE_PRODUCTION</span>
    environment variable to 1 (as indicated in <span style="font-family: monospace">settings.py</span>).</small></p>
</div>