{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

<link rel="stylesheet" href="{% static 'otree/css/theme.css' %}">

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.0.0.min.js">\x3C/script>')</script>

<!-- compiled and minified JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
<![endif]-->

<script src="{% static 'otree/js/init_widgets.js' %}"></script>
<script src="{% static 'otree/js/jquery.color-2.1.2.min.js' %}"></script>
<script src="{% static 'otree/js/jquery.timeago.js' %}"></script>

<!-- KaTeX library takes care of rendering TeX formulas. -->
<link rel="stylesheet" href="{% static 'otree/katex/katex.min.css' %}">
<script src="{% static 'otree/katex/katex.min.js' %}"></script>
<script src="{% static 'otree/js/init_katex.js' %}"></script>
<script src="{% static 'otree/js/jsondiffpatch.min.js' %}"></script>
<script src="{% static 'otree/js/json-to-table.js' %}"></script>

<!-- HighCharts charting library is pre-loaded with oTree -->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
