@media (min-width: 768px) {

  /*************************
  *       Base.html        *
  *************************/
  .top-left-fixed-alert {
    visbility: hidden;
  }

  /**************************************
  *  Main container  - BaseAdmin.html  *
  **************************************/
  .container {
    max-width: 100%;

    .page-header {
      padding-top: 40px;
    }
  }

  /******************************
  *  Front Page  - games.html  *
  ******************************/
  .title-container {
    margin-bottom: 5%;
  }

  .games-title {
    color: white;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 7%;
    margin-bottom: 0;
  }

  .sub-games-title {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }

  .align-games {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .card {
      margin-bottom: 30px;
      width: 90%;
      border-color: $ku-red;
      border-style: solid;
      border-width: 3px;
    }


    .card-header,
    .card-footer {
      color: $ku-red;
      border: none;
      background-color: white;
      font-size: 20px;
    }

    .card-body {
      color: $ku-red;


      .body-row {
        flex-direction: row;
        display: flex;

        span {
          font-size: 14px;
          margin-left: 20px;
        }
      }

    }

    .sack-img {
      width: 150px;
      height: 150px;
      display: block;

    }

    .network-img {
      width: 130px;
      height: 130px;
      display: block;
    }

    .card-footer {

      .footer-row {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

      }

      .btn-primary {
        background-color: $ku-red;
        border-color: $ku-red;
        width: 180px;
      }

      .game-info {
        padding-bottom: 20px;
        padding-right: 20px;
        font-size: 11px;


        p {
          margin-bottom: 0;
        }
      }
    }
  }

  /******************************
  *        Navbar Styling       *
  ******************************/
  nav.desktop-nav {
    display: flex;

    div.nav-container {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 1.5%;

      div.nav-home {
        display: flex;
        width: 50%;

        a {
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 20px;
          padding: 0 24px;
        }

      }

      div.nav-logout {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        a {
          color: white;
          font-size: 20px;
          padding-right: 24px;
        }
      }
    }
  }

  nav.mobile-nav {
    display: none;
  }


  //.login-button {
  //  color: white;
  //  text-decoration: none;
  //  font-size: 20px;
  //
  //}
  //
  //.home-button {
  //  .fa-chalkboard-teacher {
  //    font-size: 30px;
  //  }
  //
  //  .fa-home {
  //
  //    font-size: 30px;
  //  }
  //
  //  span {
  //    display: inline;
  //  }
  //}


  /**********************************************************
  *  Create Game - e.g. CreateSessionFormBadInfluence.html  *
  ***********************************************************/

  .create-game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;


    .card {
      margin-bottom: 30px;
      width: 70%;
      border-color: $ku-red;
      border-style: solid;
      border-width: 3px;


    }

    .card-header {
      padding-bottom: 0;
      display: flex;
      justify-content: center;

    }

    .card-header,
    .card-footer {
      color: $ku-red;
      border: none;
      background-color: white;
      font-size: 22px;
      font-weight: bolder;
    }

    .card-body {
      color: $ku-red;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      padding-bottom: 0;

    }


    .card-footer {
      padding-top: 0;
      display: flex;
      justify-content: center;

      .form-control {
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
      }

      .footer-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

      }

      .btn-primary {
        background-color: $ku-red;
        border-color: $ku-red;
        width: 100%;
        font-size: 18px;

        &:hover {
          background-color: #7C992B;
          border-color: transparent;
        }
      }


    }
  }


  /********************************************************
*  Admin/Teacher panel navigation - CustomSession.html  *
*********************************************************/

  #admin-panel {
    margin-top: 3%;

    .nav-tabs {
      border-color: transparent;
    }

    .btn-circle {
      width: 150px;
      height: 150px;
      padding: 10px 16px;
      font-size: 22px;
      line-height: 1.33;
      border-radius: 150px;
      background-color: white;
      color: $ku-red;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      font-family: "Annie Use Your Telescope", serif;

      &:hover {
        color: white;
        background-color: #5f861e;
      }
    }
  }

  #admin-panel .nav li > a {
    text-transform: capitalize;
    color: $ku-red;
    transition: background-color .2s, color .2s;

  }

  #admin-panel .nav li.active > a {
    background-color: transparent;
    color: green;

    .btn-circle {
      background-color: #5f861e;
      color: white;
    }
  }

  /*********************************************
  *  Start link / intro - SessionStartLinks.html  *
  **********************************************/

  .gamelink-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    padding-top: 3%;
    padding-bottom: 4%;
    position: relative;
    margin-top: 10px;
    color: white;
    text-align: center;

    .game-link-info {
      font-size: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 70%;
      align-self: center;
    }


    .start-link {
      margin-top: 20px;
      background-color: white;
      border-radius: 40px;
      padding: 20px 0 20px 0;
      width: 70%;
      display: flex;
      justify-content: center;
      align-self: center;


      a {
        text-decoration: none;
        color: $ku-red;
        font-size: 20px;

        &:hover {
          color: $ku-dark-green;
        }
      }
    }


  }

  /*********************************************
*  Monitor game progress - SessionMonitor.html  *
**********************************************/
  .info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;

    .info-content {
      display: flex;
      justify-content: center;
      width: 90%;
      flex-direction: column;
      text-align: center;
      color: white;
      align-items: center;

      h1 {
        font-size: 18px;
      }

      p {
        font-size: 16px;

      }
    }

    .player-table {
      width: auto;
      background-color: white;
      border-collapse: collapse;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      color: $ku-red;

    }

  }
  .results-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: $ku-red;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  /*****************************************************
  *  Game report page - BadInfluence/AdminReport.html  *
  ******************************************************/
  .report-container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $ku-red;
    font-family: "Roboto Slab", serif;

    .report-info {
      width: 90%;
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      background-color: white;
      border-radius: 10px;
    }

    .rapport-header {
      padding-top: 20px;
      justify-content: center;
      display: flex;
      padding-bottom: 20px;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 18px;
        text-align: center;
      }
    }

    .dropdown-questions {
      display: flex;
      justify-content: center;
      font-size: 16px;
      flex-direction: column;

      .question-title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
      }
    }

    .resultater {
      display: flex;
      justify-content: center;
    }

    .d3-row {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 18px;
      font-family: "Roboto Slab", serif;

      #d3consensus {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      #d3playback {
        display: none;
      }
    }

    .alert-info {
      color: $ku-red;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-self: center;

    }

    .alert {
      width: 100%;
    }

    .graf {

      height: 130px;
    }

    .explanation {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    .dropdown-toggle {
      background-color: $ku-red;
      color: white;
      font-size: 18px;
      width: auto !important;

      &:hover {
        background-color: $ku-dark-green;
      }
    }

    .play-button {
      background-color: $ku-red;
      color: white;
      width: 100px;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: $ku-dark-green;
      }
    }
  }

  .d3-container {
    background-color: orange;
    width: 20%;
  }


  /*****************************************************
  *  Authenticated demo page - DemoIndex.html  *
  ******************************************************/
  .demo-container {
    margin-top: 10%;
    padding: 10px 50px 10px 50px;
  }


  /*****************************************************
  *  Authenticated create session - Sessions.html  *
  ******************************************************/
  .create-session-container {
    margin-top: 10%;
    padding: 10px 50px 10px 50px;
  }

  .game-admin {
    margin-top: 5%;
    padding: 10px 50px 10px 50px;
    background-color: white !important;

  }


  /****************************
  *  Rooms view - Rooms.html  *
  ****************************/
  .report-table-container-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $ku-red;
    font-family: 'Roboto Slab', serif;

    #roomsTable {
      width: 100%;
      display: inline-table;
      border-collapse: separate;
      border-spacing: 0 0.5rem;
      border-radius: 0 10px 0 10px;


      .rooms-table-header {
        background: $ku-red;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-top: none !important;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(157, 52, 55, 0.5);
      }

      .bad_influence-table-data {
        font-size: 26px;

        border-top: none !important;
        text-align: center;
        vertical-align: middle;
      }

      .bad_influence-table-row {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }
  }
}

