{% extends "demo/Base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load floppyforms %}
{% load otree_tags %}


{% block title %}Widgets{% endblock %}


{% block content %}

    <h3><code>otree.forms.CharField</code></h3>
    {% formrow form.char %}

    <h3><code>otree.forms.CharField(widget=otree.forms.Textarea)</code></h3>
    {% formrow form.text %}

    <h3><code>otree.forms.RadioSelect</code></h3>
    {% formrow form.radio_select %}

    <h3><code>otree.forms.RadioSelectHorizontal</code></h3>
    {% formrow form.radio_select_horizontal %}

    <h3><code>otree.forms.CheckboxSelectMultiple</code></h3>
    {% formrow form.checkbox_select %}

    <h3><code>otree.forms.CheckboxSelectMultipleHorizontal</code></h3>
    {% formrow form.checkbox_select_horizontal %}

    <h3><code>otree.forms.MoneyField</code></h3>
    {% formrow form.money %}

    <h3><code>otree.forms.MoneyChoiceField</code></h3>
    {% formrow form.money_choice %}

    {% next_button %}

{% endblock %}
