{% extends "otree/BaseBuiltIn.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% blocktrans %}Advance users{% endblocktrans %}{% endblock %}

{% block content %}

<p>Session code: <b>{{ session_code }}</b></p>

<div class="alert alert-info" role="alert">You are the experimenter.</div>

    <p>
    If you click the below button, the slowest participants (those on the earliest page) will be automatically advanced
    by 1 page. They may need to refresh the page to see that they have been advanced.
    </p>

<form action="" method="post">
    <input class="btn btn-primary btn-large btn-primary" type="submit" value="Advance users by 1 page" />
    <br/><br/>
</form>

{% if success %}
    <div class="alert alert-success" role="alert">Participants were advanced.</div>
{% endif %}
{% endblock %}