{% extends "otree/BaseBuiltIn.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% blocktrans %}Advance users{% endblocktrans %}{% endblock %}

{% block content %}

<p>Session code: <b>{{ session_code }}</b></p>

<div class="alert alert-info" role="alert">You are the experimenter.</div>

    <p>
    If you click the "Advance slowest user(s)" button, the slowest user(s)
    will be automatically advanced by one page, while the other users
    will remain where they are (unless perhaps if they have a waiting page).
    </p>

<form action="" method="post">
    <input class="btn btn-primary btn-large btn-primary" type="submit" value="Advance slowest user(s)" />
    <br/><br/>
</form>

{% if success %}
    <div class="alert alert-success" role="alert">Participants were advanced.</div>
{% endif %}
{% endblock %}
