{% extends "otree/BaseBuiltIn.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% blocktrans %}Start Session{% endblocktrans %}{% endblock %}


{% block content %}

<div class="alert alert-info" role="alert">You are the experimenter.</div>

<p>
{% blocktrans %}
    When all participants have arrived, click "Next",
    and participants will be assigned to matches.
{% endblocktrans %}
</p>

<form action="" method="post">
    <input class="btn btn-primary btn-large btn-primary" type="submit" value="Next" />
</form>

{% endblock %}