
{% load otree_internal otree static %}

<style>

body {
    background-color: #901A1E;
}
.form {
    display: none;
}
</style>


<div>

<!-- Rapport header -->
<div class="rapport-header">
    <h2>Vælg et spørgsmål for at se hvordan det gik</h2>
</div>


    <div class="dropdown-questions dropdown">
        <div class="d3-row question-title">
            Spørgsmål
        </div>
        <div class="d3-row">
              <p id="d3historyChoice"></p>
        </div>




    <div class="alert alert-info">
        <div class="d3-row question-title">
            Spørgsmål kontekst
        </div>
        <div class="d3-row">
         <div id="questionHolder1"></div>
        </div>

        <div class="d3-row">
            <div id="questionHolder2"></div>
        </div>
    </div>


<div class="explanation">
    <div class="alert alert-info graf">
        <div class="d3-row question-title">
            Venne-netværk forklaring
        </div>
        <div class="d3-row">
            <div id="faceExplanation"></div>
        </div>
    </div>

    <div class="alert alert-info graf">
        <div class="d3-row question-title">
            Graf forklaring
        </div>
        <div class="d3-row">
            <div id="graphExplanation"></div>
        </div>
    </div>
</div>




<div class="d3-row">
    <div id="d3container"></div>
    <div id="d3consensus"></div>
</div>

<div class="d3-row">
    <p id="d3playback"></p>
<button type="button" id="play-button" class="btn btn-primary play-button">Afspil</button>
</div>





<div>
<h2 class="rapport-header ">Topscorerliste</h2>

<div class="explanation">
    <div class="alert alert-info">
        <div class="d3-row question-title">
           Stædighed forklaring
        </div>
 <div class="d3-row">
         <div id="stubbornness"></div>
        </div>
    </div>
    </div>
</div>
    </div>
{% include 'bad_influence/d3/d3_graph_results.html' %}
<table class="table results-table table-responsive">
        <tr>
            <th></th>
            <th>point<p></p>i alt</th>
            <th>stædighed <p></p>(i sekunder)</th>
            <th># venner <p></p>i alt</th>
            <th># holdnings-<p></p>skift</th>
        </tr>
        {% for ranking in rankings %}
        <tr>
            <td><strong>player {{ ranking.0 }}</strong></td>
            <td>{{ ranking.1 }}</td>
            <td>{{ ranking.2 }}</td>
            <td>{{ ranking.3 }}</td>
            <td>{{ ranking.4 }}</td>
        </tr>
        {% endfor %}
</table>


</div>
