{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}
{% block styles %}

    <style>
        body {
            background-color: #901A1E;
        }
    </style>
{% endblock %}

{% block content %}
<div class="game-container container">
    <div class="round-introduction">
        <h2 class="round-title">{{ question.title }}</h2>
        <div class="round-info">
            <!-- Sådan spiller du -->
            <p>{{ question.text }}</p>
            <p>{{ question.challenge }}</p>
            <p>{{ question.preference }}</p>

        </div>
    </div>
<div class="surround">
<div class="game-row">
        <!-- Left hand side-->
    <div class="svg-column">
      <div class="answer-container" id="d3container">
        <div id="timer-text">
            Tid tilbage:
            <strong><span id="timer" class="otree-timer__time-left"></span></strong>
        </div>
        </div>

      <div id="ButtonsHolder" class="choice-button-holder">
        <button id="GuessFalseButton" type="button" name="choice" value="False" class="btn choice-button">
             <div class="mobile-column tablet-row">
                  <img src="{{ question.majority_color_img }}"><b> {{ question.majority_choice }}</b>
             </div>
        </button>

        <button id="GuessTrueButton" type="button" name="choice" value="True" class="btn choice-button">
             <div class="mobile-column tablet-row">
           <img src="{{ question.minority_color_img }}">  <b>{{ question.minority_choice }}</b>
                 </div>
        </button>
        </div>
    </div>


      <!-- Right hand side -->
    <div id="chat-container">
        <div class="chat-title">
            <h2>Chat med dine venner</h2>
        </div>

        <div class="form-group chat">
            <div id="chat" type="text-area"></div>
        </div>
        <div class="form-group message">
            <input type="text" id="message" placeholder="Send besked..." class="form-control">
        </div>
        <div class="form-group send">
            <button type="button" id="send" class="btn btn-success">Send</button>
        </div>
    </div>
</div>

</div>
</div>


    <script>
    // We want to randomise whether the button for the majority choice is on the left or the right
    // so that players can't catch on an tell which is the majority for the button position
    $('#ButtonsHolder').css('flex-direction', Math.random() > 0.5 ? 'row' : 'row-reverse');

        $('#timer').on('DOMSubtreeModified', function () {
            let element = $('#timer');

            if (!element.hasClass('flash')) {
                let split = element.text().split(':');
                let minutes = parseInt(split[0]);
                let seconds = parseInt(split[1]);

                if (minutes <= 0 && seconds <= 20) {
                    $('#timer-text').addClass('flash');
                    element.addClass('flash')
                }
            }
        })
    </script>

    <script>
        // Defines the scheme of the WebSocket to be either wss if the protocol is https
        // else it should be ws
        let ws_scheme = window.location.protocol === "https" ? "wss" : "ws";

        // Defines the WebSocket route to listen to
        let ws_path = ws_scheme + '://' + window.location.host + "/ws/chat/{{ group.pk }}";

        // Instantiates the WebSocket with the WebSocket route and scheme as argument
        let socket = new WebSocket(ws_path);

        // Function that adds the player id to each message
        const mapFriends = () => {
            let friends = {{ player.get_friends }};
            let players = [];

            friends.map(
                friend => {
                    players.push(`player_${friend}`)
                }
            )

            return players;
        };

        // Returns all the players friends in the network
        let players = mapFriends();

        // Variable used for displaying the right messages based on the player's network
        let network = [];

        // Opens the WebSocket connection and logs a message in the console when it opens
        socket.onopen = event => {
            console.log('WebSocket opened');
            // Sends a message to the socket to fetch all messages from the database
            fetchMessages();
            // Displays the correct messages based on the player's network
            displayFriends();
        };

        // Closes the WebSocket connection and logs a message in the console when it closes
        socket.onclose = event => {
            console.log("WebSocket closed");
        }

        // Logs a error if the WebSocket gets a connection error in the console
        socket.onerror = event => {
            console.error("WebSocket error observed:", event);
        };

        // When the socket receives a message
        socket.onmessage = event => {
            // Parses the JSON data into JavaScript
            let data = JSON.parse(event.data);

            // If the received data's command is 'messages' loop through the data, use the createMessage command to
            // create the messages in the chat log
            if (data['command'] === 'messages') {
                for (let i = 0; i < data['messages'].length; i++) {
                    let data_player = "player_" + data['messages'][i]['chat_id'];
                    if (players.includes(data_player)) {
                        createMessage(data['messages'][i]);
                    }
                }
                // If the data's command is 'new_message' use the createMessage function to create a new chat message and
                // add it to the chat log
            } else if (data['command'] === 'new_message') {
                createMessage(data['message']);
            }

            // Displays the correct messages based on the player's network
            displayFriends();

        };

        // Adds an event listener on the chat's input field
        document.querySelector("#message").onkeyup = function (e) {
            // Prevents an event to be fired as it normally would, it prevents the page from refreshing/reloading when
            // submitting the form
            e.preventDefault();
            // if the event's keycode is equal to 13 (Enter) click the send button
            if (e.keyCode === 13) {
                document.querySelector("#send").click();
            }
        };

        // Adds an event listener on the chat's submit button
        document.querySelector("#send").onclick = function (e) {
            // Prevents an event to be fired as it normally would, it prevents the page from refreshing/reloading when
            // submitting the form
            e.preventDefault();
            // Gets the input field of the chat message
            let messageInputDom = document.getElementById("message");
            // Gets the input value of the chat message
            let message = messageInputDom.value;
            // If the the chat message is not empty send a message socket containing: command, message, player_id,
            // chat_id and group_id
            if (message !== '') {
                socket.send(JSON.stringify({
                    'command': 'new_message',
                    'message': message,
                    'player_id': {{ player.id }},
                    'chat_id': {{ player.id_in_group }},
                    'group_id': {{ group.id }}
                }));
            }
            // Finally reset the input field with an empty value
            messageInputDom.value = '';
        };

        // Function that hides the messages outside of the players network
        const displayFriends = () => {
            // Gets the invidual chat message
            let chat_class = document.getElementsByClassName('chat-message');

            // Loops through all the chat message, gets their id and appends it to the network array
            for (let i = 0; i < chat_class.length; i++) {
                network.push(chat_class[i].getAttribute('id'));
            }

            // Loops through all players in the network
            for (let player in network) {
                // If the players in the network are included in the players array display the friends who are in that
                // array. If not don't display them.
                if (players.includes(network[player])) {
                    document.getElementById(network[player]).style.display = 'flex';
                } else {
                    document.getElementById(network[player]).style.display = 'none';
                }
            }
        };

        // Function that takes in a data parameter, this parameter is issued in the socket.onmessage function
        function createMessage(data) {
            // Creates three elements for the structure of a chat message
            let divElement = document.createElement('div');
            let pElement = document.createElement('p');
            let bElement = document.createElement('b');

            // The p tag's text is equal to the content of the received data
            pElement.textContent = data.content;
            // if the data's chat_id is equal to the player's id in the group, display (Dig) after the Player's name in
            // the frontend. If not just display the Player's name
            if (data.chat_id === {{ player.id_in_group }}) {
                bElement.textContent = "Spiller " + data.chat_id + "(Dig):";
            } else {
                bElement.textContent = "Spiller " + data.chat_id + ":";
            }

            // Append the bold and paragraph elements into the div element
            divElement.appendChild(bElement);
            divElement.appendChild(pElement);
            // Adds a style attribute to the div element display each chat message with flex box
            divElement.setAttribute('style', 'display: flex;')
            // Adds a class name of 'chat-message' to each chat message
            divElement.setAttribute('class', 'chat-message')
            // Adds a id of player's chat id from the data like this 'player_1'
            divElement.setAttribute('id', `player_${data.chat_id}`)
            // Appends each chat message to the chat log
            document.querySelector("#chat").appendChild(divElement);
        }

        // Sends a message to the WebSocket to fetch the last 15 messages from the Database
        function fetchMessages() {
            socket.send(JSON.stringify({'command': 'fetch_messages', 'group_id': {{ group.id }}}));
        }

    </script>
{% endblock %}
{% block scripts %}
    {% include 'bad_influence/channels/network_voting_channel.html' %}
    {% include 'bad_influence/d3/d3_graph.html' %}
    {% if view.remaining_timeout_seconds != None %}
        {% include 'otree/includes/TimeLimit.js.html' %}
    {% endif %}
    {{ form.media|default:"" }}

{% endblock %}
